body {
	 background-image: url('../img/backgrounds/texturetastic_gray.png');
	 height:100%;	  
	color: #847d6b;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 20px;
    
    text-rendering: optimizelegibility;
}

.wrapper {
    background: #ffffff; /* Fallback background color for non supported browsers */ 
	/*background-image: -moz-radial-gradient(center 45deg,circle cover, #0093DD, #173885);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#0093DD), to(#173885));*/
    
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  
    overflow: hidden;
    
    margin-top:65px;
    padding-left: 0px;
    padding-right: 0px;
    
        
}
.marca {
	padding:7px;
	padding-left: 14px;
	padding-right: 14px;
}
.marca small {
	font-size: 14px;
}
.menu {
	margin-top: 5px;
}
.header{
	min-height: 65px;
	border-bottom: solid 3px #E08E0B;
	height: 65px;
	padding-top:7px;
	background-image: url('../img/backgrounds/irongrip.png');
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.3) inset;
}
.logomarcaTopo {
margin-right:1em;
margin-bottom: 1em;
}



.colunal{
	border-right: solid 1px #C1C1C1;
	background-color: #EFEFEF;
	height:100%;
	padding: 0.5em;
	padding-left:2em;
	padding-right:2em;
	vertical-align: top;
	width: 16.66%;
}
.colunac{ 
	padding-top:1em;
	height:100%;
	padding: 0.5em;
	vertical-align: top;
	padding-left:2em;
	padding-right:2em;
	}
.colunar{
	border-left: solid 1px #C1C1C1;
	background-color: #EFEFEF;	
	height:100%;
	padding: 0.5em;
	vertical-align: top;
	width: 16.66%;
	padding-left:2em;
	padding-right:2em;
}

.btn-laterais{
margin-top:0.5em;
margin-bottom:0.5em;
background-color:#fff;
font-weight:300;
font-size: 0.8em;
border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	width: auto;
}

.btn-laterais:hover{
	background-color: #E08E0B;
	border: solid 1px #FFF;
	color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.btn-padrao {
	
}

.btn-padrao div img {
	width: 2.4em;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 50px;
    position: bottom: auto;
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-50));
    left: expression(eval(document.documentElement.scrollLeft));
    width: expression(eval(document.documentElement.clientWidth));
    
    padding-top:5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.1);
}
.text-footer {
	font-size: 10px;
}

.boxbanners{
	background-color: #E08E0B;
	border: 1px solid #FFFFFF;
    box-shadow:0 20px 20px rgba(0, 0, 0, 0.6);
    
}
.boxbanners table {
	
}
.boxbanners table tr td {
	vertical-align: middle;
	padding:0.9em;
}


/* etiquetas dos formatos de posts */
.divisao{
	border-bottom: 1px #DCDCDC dashed;
	padding: 1em;
}
.etiqueta{
	background-color: #FFFFFF;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	min-height: 6em;
	border: solid 1px #e8e8e8;
	border-right: solid 4px #E08E0B;	
	padding: 1em;
}
.etiqueta .thumb {
	background-size:cover;
	background-repeat: no-repeat;	
	background-position:center;
	height: 6em;
	width: 100%;
}


/*noticias*/
.noticia-home {
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;	
	margin:0em;
	height: 15em;
	border:solid 2px #E08E0B;	
}

.noticia-home:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.etiqueta .thumbnoticia {
	background-size:cover;
	background-repeat: no-repeat;	
	background-position:center;
	height: 6em;
	width: 100%;
}

.etiqueta .caption{
	border-left: solid 4px #e8e8e8;
	padding-left: 0.5em;
}

.btEntraNoticia{
	margin-top:0.5em;
}

.noticia-titulo-home{
	padding: 1em;
	font-size: 1.2em;
	color:#FFFFFF;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
}
/*destaques*/
#destaques {
	margin-top: 2em;
	padding:1em;
}

#destaques h4 {
	min-height: 2em;
}
#destaques .itemDestaque{
	border-right: solid 1px #E08E0B;
	min-height: 12em; 
	border-top: dashed 1px #E8e8e8;
}
#destaques .itemDestaque:hover{
	background-color: #E08E0B;
	border: solid 1px #FFF;
	color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#destaques .itemDestaqueFinal{
	min-height: 12em;
	border-top: dashed 1px #E8e8e8; 
	
}
#destaques .itemDestaqueFinal:hover{
	background-color: #E08E0B;
	border: solid 1px #FFF;
	color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
#destaques a {
	color:#ffffff;
	
}
#destaques a:hover{
	
	text-decoration: underline;
}
/*caledario*/
#post .data{
	font-size: 1.2em;
}


/* icone de filebrowser */
.fb_doc {
	background-position: 0px 0px;
}
.fb_xls {
	 background-position: -56px 0px; 
}
.fb_ppt {
	 background-position: -112px 0px; 
}
.fb_pdf {
	 background-position: -168px 0px; 
}
.fb_zip {
	 background-position: -224px 0px; 
}
.fb_css {
	 background-position: -280px 0px; 
}
.fb_htm {
	 background-position: -336px 0px; 
}
.fb_mp3 {
	 background-position: -392px 0px; 
}

.fb_jpg {
	background-position: 0px -66px;
}
.fb_eps {
	 background-position: 56px -66px; 
}
.fb_psd {
	 background-position: -112px -66px; 
}
.fb_png {
	 background-position: -168px -66px; 
}
.fb_avi {
	 background-position: -224px -66px; 
}
.fb_wav {
	 background-position: -280px -66px; 
}
.fb_dll {
	 background-position: -336px -66px; 
}
.fb_txt {
	 background-position: -392px -66px; 
}
.fb_icon{
 background-image: url("../img/files.png");    
    background-repeat: no-repeat;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-top: 0px;
    vertical-align: middle;
    width: 35px;
  }
  .login-box {
    margin: 90px auto 0;
    width: 360px;
}
/* 
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}