<form role="form" method="post" action="admin_ano-action" id="frmEdit" autocomplete="off">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Nova Anuidade</h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="acao" value="{ACAO}"/>
            <input type="hidden" name="id" value="{ID}"/>            
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="nome"><i class='fa'> </i><b>Ano</b></label>
                        <input type="text" id="ano" name="ano" placeholder="Ano" value="{ANO}" class="required form-control"/>
                    </div>
                    
                </div>   
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataVencimento"><i class='fa'> </i><b>Data de Vencimento</b></label>
                        <input type="text" id="dataVencimento" name="dataVencimento" placeholder="Data de vencimento" value="{DATA_VENCIMENTO}" class="required form-control"/>
                    </div>
                    
                </div>            
            </div>
        <div class="box-footer text-center">
            <button class="btn btn-success" id="save" type="submit">
                Salvar
            </button>
            <button class="btn btn-default btVoltar" type="button">
                Cancelar
            </button>
        </div>

    </div>
</form>
<script>

    $(document).ready(function() {
        $('#dataVencimento').datepicker();
        $("#ano").inputmask({ mask: "9999"});
        
    });
</script>