<form role="form" method="post" action="#" id="frmPesquisa">
	<input type="hidden" name="pagina" id="pagina" value="1" />
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Pesquisa Notícias</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="form-group">
						<label for="descricao"><i class='fa'></i><b>Título</b></label>
						<input type="text" id="titulo" name="titulo" placeholder="Título da Noticia" value="" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="form-group">
						<label for="descricao"><i class='fa'></i><b>Texto</b></label>
						<input type="text" id="texto" name="texto" placeholder="Texto da Noticia" value="" class="form-control"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="form-group">
						<label for="periodo"><i class='fa'></i><b>Período:</b></label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" name="periodo" id="periodo" class="form-control pull-right">
						</div>

					</div>
				</div>
			</div>

		</div>
		<div class="panel-footer text-right">
			<button class="btn btn-success" type="button" id="btPesquisar">
				Pesquisar
			</button>
			<a class="btn btn-primary" href="admin_noticia-editar"><i class="fa fa-plus"></i> Adicionar</a>
			<button class="btn btn-default btVoltar" type="button">
				Voltar
			</button>
		</div>

	</div>
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Resultado</h3>
		</div>
		<div class="box-body" id="resultado"></div>
	</div>
</form>
<script>

	function pesquisar(){
			$.ajax({
				url : "ajax/admin_noticia_pesquisar.php",
				type : "POST",
				data : $("#frmPesquisa").serialize(),

				beforeSend: function( ) {
					$('#resultado').html('{LOADING}');
		  		},
			}).done(function(msg) {
				$("#resultado").html(msg);
			});

		}

	$(document).ready(function() {

		$('#periodo').daterangepicker();

		$("#btPesquisar").click(function() {
			pesquisar();
		});
	}); 
</script>