<div class="row">
    <!-- BEGIN BLOCK_NOTICIA -->
    <div class="col-lg-6 col-md-12 col-sm-12 btEntraNoticia" id="{idNoticia}" >
        <div class="noticia-home" style="background-image: url('img/noticias/{imagem}');">
            <div class="pull-left noticia-titulo-home" >
                {titulo}
            </div>
        </div>
    </div>
    <!-- END BLOCK_NOTICIA -->    
</div>

<div class="row" id="destaques">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <table width="100%">
        <tr>
            <td>
            <fieldset>
                <legend>
                    Próxima Competição
                </legend>
                <p>
                    Vem aí o campeonato do centro-oeste
                </p>
                <a href="#">leia mais</a>
            </fieldset>
            </td>
            
                       
             <td>
            <fieldset>
                <legend>
                    Destaques
                </legend>
                <p>
                    Vem aí o campeonato do centro-oeste
                </p>
                <a href="#">leia mais</a>
            </fieldset>
            </td>
            
             <td>
            <fieldset>
                <legend>
                    Novidades
                </legend>
                <p>
                    Vem aí o campeonato do centro-oeste
                </p>
                <a href="#">leia mais</a>
            </fieldset>
            </td>
            
             <td>
            <fieldset>
                <legend>
                    Presidente
                </legend>
                <p>
                    Vem aí o campeonato do centro-oeste
                </p>
                <a href="#">leia mais</a>
            </fieldset>
            </td>
            
            <td>
            <fieldset>
                <legend>
                    Diretoria
                </legend>
                <p>
                    Vem aí o campeonato do centro-oeste
                </p>
                <a href="#">leia mais</a>
            </fieldset>
            </td>
        </tr>
    </table>
    </div>
    </div>
    <script>
    $(document).ready(function() {
        
       
        $(".btEntraNoticia").click(function() {
            window.location.href = 'portal_noticia-detalhe?id='+$(this).attr("id");
        });
        });
</script>