<div class="row">
    <!-- BEGIN BLOCK_NOTICIA -->
    <div class="col-lg-6 col-md-6 col-sm-12 btEntraNoticia" id="{idNoticia}" >
        <div class="noticia-home" style="background-image: url('img/noticias/{imagem}');">
            <div class="pull-left noticia-titulo-home" >
                {titulo}
            </div>
        </div>
    </div>
    <!-- END BLOCK_NOTICIA -->    
</div>

<div class="row" id="destaques">
    <div class="col-lg-12 col-md-12 col-sm-12">
    <table width="100%">
        <tr>
            <td width="20%">
           <!-- BEGIN BLOCK_NOTICIA3 -->
            <fieldset>
                <legend>
                    Próxima Competição
                </legend>
                <p>
                   {TITULO3}
                </p>
                <a href="#" class="btEntraNoticia" id="{IDNOTICIA3}">leia mais</a>
            </fieldset>
            <!-- END BLOCK_NOTICIA3 -->
            </td>       
                       
             <td width="20%">
                 <!-- BEGIN BLOCK_NOTICIA4 -->
            <fieldset>
                <legend>
                    Destaques
                </legend>
                <p>
                    {TITULO4}
                </p>
                <a href="#" class="btEntraNoticia" id="{IDNOTICIA4}">leia mais</a>
            </fieldset>
            <!-- END BLOCK_NOTICIA4 -->
            </td>
            
             <td width="20%">
                 <!-- BEGIN BLOCK_NOTICIA5 -->
            <fieldset>
                <legend>
                    Novidades
                </legend>
                <p>
                    {TITULO5}
                </p>
                <a href="#" class="btEntraNoticia" id="{IDNOTICIA5}">leia mais</a>
            </fieldset>
            <!-- END BLOCK_NOTICIA5 -->
            </td>
            
             <td width="20%">
                 <!-- BEGIN BLOCK_NOTICIA6 -->
            <fieldset>
                <legend>
                    Presidente
                </legend>
                <p>
                    {TITULO6}
                </p>
                <a href="#" class="btEntraNoticia" id="{IDNOTICIA6}">leia mais</a>
            </fieldset>
            <!-- END BLOCK_NOTICIA6 -->
            </td>
            
            <td width="20%">
                <!-- BEGIN BLOCK_NOTICIA7 -->
            <fieldset>
                <legend>
                    Diretoria
                </legend>
                <p>
                    {TITULO7}
                </p>
                <a href="#" class="btEntraNoticia" id="{IDNOTICIA7}">leia mais</a>
            </fieldset>
            <!-- END BLOCK_NOTICIA7 -->
            </td>
        </tr>
    </table>
    </div>
    </div>
    <script>
    $(document).ready(function() {
        
       
        $(".btEntraNoticia").click(function() {
            window.location.href = 'portal_noticia-detalhe?id='+$(this).attr("id");
        });
        });
</script>