<form role="form" method="post" action="admin_pagina-action" id="frmEdit" enctype="multipart/form-data" onsubmit="return postForm()">
    
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{LABEL}</h3>
        </div>
        <div class="box-body">
            
            <input type="hidden" name="id" id="id" value="{id}"/>
            <input type="hidden" name="acao" value="{ACAO}"/>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="texto"><i class='fa'></i><b>Página</b></label>
                        <textarea class="input-block-level" id="summernote" name="texto" rows="18">{texto}</textarea>                      
                        
                    </div>
                </div>
            </div>                       
                     

        </div>
        <div class="box-footer text-center">
            <button class="btn btn-success" id="save" type="submit">
                Salvar
            </button>
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>
        </div>

    </div>
</form>
<link href="css/summernote.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/summernote.min.js"></script>
<script>
	$(document).ready(function() {
        
        $('#summernote').summernote({
            height : 300, // set editor height

            minHeight : null, // set minimum height of editor
            maxHeight : null, // set maximum height of editor

            focus : true,                 // set focus to editable area after initializing summernote
        });
        
        
	});
	var frmEdit = function() {
    var content = $('textarea[name="texto"]').html($('#summernote').code());
    };
</script>