<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">Escolha o relatório que deseja</h3>
	</div>

	<div class="box-body">

		<div class="list-group">
			<a href="admin_relatorios-comp_inscritos" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Relatório de Inscritos</h4>
			<p class="list-group-item-text">
				Mostra os participantes do Evento agrupados por associação, classe e categoria
			</p> </a>
		</div>
		<div class="list-group">
			<a href="admin_relatorios-comp_inscritos_valor" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Relatório de Inscritos Analítico</h4>
			<p class="list-group-item-text">
				Mostra os participantes do Evento agrupados por associação, classe e categoria e os valores dos pagamentos
			</p> </a>
		</div>
		<div class="list-group">
			<a href="admin_relatorios-comp_resumo1" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Resumo sintético</h4>
			<p class="list-group-item-text">
				Mostra os dados o evento e totalizadores
			</p> </a>
		</div>
		<div class="list-group">
			<a href="admin_relatorios-comp_resumo2" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Lista de Associações</h4>
			<p class="list-group-item-text">
				Mostra as associações
			</p> </a>
		</div>
		<div class="list-group">
			<a href="admin_relatorios-comp_exportar" class="list-group-item"> <img src="img/csv_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Exportar Fushikai</h4>
			<p class="list-group-item-text">
				Arquivos Excel para o Fushikai
			</p> </a>
		</div>
	</div>
	<div class="panel-footer text-right">

	</div>
</div>
<script>
	$(document).ready(function() {

	});

</script>