<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">Escolha o relatório que deseja</h3>
	</div>

	<div class="box-body">

		<div class="list-group">
			<a href="relatorios/atletas_ativos.php?titulo=Atletas Ativos" target="_blank" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Relatório de Atletas Ativos</h4>
			<p class="list-group-item-text">
				Mostra os atletas com a situação em dia.
			</p> </a>
		</div>
		<div class="list-group">
			<a href="relatorios/atletas_inativos.php?titulo=Atletas Inativos" target="_blank" class="list-group-item"> <img src="img/pdf_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Relatório de Atletas Inativos</h4>
			<p class="list-group-item-text">
				Mostra os atletas com a situação em atrazo.
			</p> </a>
		</div>
		<div class="list-group">
			<a href="admin_relatorios-arquivo_brb" class="list-group-item"> <img src="img/txt_icon.png" class="pull-left" width="48"/> <h4 class="list-group-item-heading">Arquivo BRB</h4>
			<p class="list-group-item-text">
				Gerar o arquivo de boletos do BRB.
			</p> </a>
		</div>
	</div>
	<div class="panel-footer text-right">

	</div>
</div>
<script>
	$(document).ready(function() {

	});

</script>