<form role="form" method="post" action="admin_post-action" id="frmEdit" enctype="multipart/form-data" autocomplete="off">
    
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{LABEL}</h3>
        </div>
        <div class="box-body">
            
            <input type="hidden" name="id" id="id" value="{id}"/>
            <input type="hidden" name="acao" value="{ACAO}"/>            
            <input type="hidden" name="categoria" id="categoria" value="{ID_CATEGORIA_HASH}" />
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="titulo"><i class='fa'></i><b>Título</b></label>
                        <input type="text" id="titulo" name="titulo" placeholder="Título da Matéria" value="{titulo}" class="required form-control"/>
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="sumario"><i class='fa'></i><b>Mensagem</b></label>
                        <input type="text" id="mensagem" name="mensagem" placeholder="Mensagem do post" value="{mensagem}" maxlength="200" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="texto"><i class='fa'></i><b>Texto</b></label>
                        <div id="summernote">{texto}
                        </div>
                        <input type="text" name="texto" id="texto" value="" class="required" style="width: 0px; border:none;"/>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="data"><i class='fa'></i><b>Data da Publicação</b></label>
                        <input type="text" id="data" name="data" value="{data}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="ordem"><i class='fa'></i><b>Ordem</b></label>
                        <input type="text" id="ordem" name="ordem" value="{ordem}" class="form-control"/>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="foto"><i class='fa'></i><b>Foto</b></label>
                        <input type="file" name="foto" id="foto" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="arquivo"><i class='fa'></i><b>Arquivo</b></label>
                        <input type="file"  name="arquivo" id="arquivo"/>
                    </div>
                </div>
            </div>         

        </div>
        <div class="box-footer text-center">
            <a class="btn btn-success" id="save">
                Salvar
            </a>
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>
        </div>

    </div>
</form>
<link href="css/summernote.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/summernote.min.js"></script>
<script>
	$(document).ready(function() {
        
        $('#data').datepicker();
        
        $("#ordem").inputmask({ mask:"9[9]"});
        
         $('#summernote').summernote({
            height : 300, // set editor height

            minHeight : null, // set minimum height of editor
            maxHeight : null, // set maximum height of editor

            focus : true,                 // set focus to editable area after initializing summernote
        });
        
        $("#save").click(function() {
            var aHTML = $('#summernote').code();
            
            $("#texto").val(aHTML);
            if($("#texto").val() == "<br>")
                $("#texto").val("");
            
            $("#frmEdit").submit();
        });
        
		$("#foto").fileinput({
		initialPreview: [
		<!-- BEGIN BLOCK_IMG -->"{IMG_IMAGEM}",<!-- END BLOCK_IMG -->
		], overwriteInitial: true,
		maxFileSize: 2000,
		maxFilesNum: 1,
		allowedFileExtensions: ["jpg", "jpeg", "gif", "png"],
		previewClass: "bg-warning",
		allowedFileTypes: ["image"],
		showUpload: false,
		showCaption: false
	});

        $("#arquivo").fileinput({
        initialPreview: [
        <!-- BEGIN BLOCK_ARQ -->"{IMG_ARQUIVO}",<!-- END BLOCK_ARQ -->
        ], overwriteInitial: true,
        maxFileSize: 2000,
        maxFilesNum: 1,
        previewClass: "bg-warning",
        showUpload: false,
        showCaption: false
    });

	
	});
</script>