<form role="form" method="post" action="admin_post-action" id="frmEdit" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" name="categoria" id="categoria" value="{ID_CATEGORIA}" />
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Escolha o Formato do post</h3>
        </div>
        <div class="box-body">


            <div class="row">
                <div class="col-sm-12" id="calendario">
                <div class="divisao">
                    <h4> Título e Arquivo</h4>
                <div class="etiqueta" value="1">
                    <span class="data pull-right">data</span>
                    <p>Título do post</p>
                    <a href="#"><span class="fb_icon fb_doc" aria-hidden="true"></span> Link Documento</a>
                </div>
                </div>
                 <div class="divisao">
                     <h4> Somente Arquivo</h4>
                <div class="etiqueta" value="2">
                    <span class="data pull-right">data</span>
                    <a href="#"><span class="fb_icon fb_pdf" aria-hidden="true"></span> Link Documento</a>
                </div>
                </div>
                 <div class="divisao">
                       <h4> Post Completo</h4>
                 <div class="etiqueta" value="3">                    
                     <div class="row">
                    <div class="col-lg-2" >
                        <div class="thumb" style="background-image: url('img/judo-2.jpg');"></div>
                    </div>
                    <div class="col-lg-10" >
                        <span class="data pull-right">12/04/2015</span>
                        <p>Título do post</p>
                        <p><small>Descricao do post</small></p>
                        <a href="#"><span class="fb_icon fb_txt" aria-hidden="true"></span> Link Documento</a>
                    </div>           
                    </div>
                </div>
                </div>
                <div class="divisao">
                       <h4> Sem Imagem</h4>
                 <div class="etiqueta" value="4">                    
                     <div class="row">                    
                    <div class="col-lg-12" >
                        <span class="data pull-right">12/04/2015</span>
                        <p>Título do post</p>
                        <p><small>Descricao do post</small></p>
                        <a href="#"><span class="fb_icon fb_txt" aria-hidden="true"></span> Link Documento</a>
                    </div>           
                    </div>
                </div>
                </div>
           </div>
            </div>  
            
            
        </div>
        <div class="box-footer text-center">
            
        </div>

    </div>
</form>
<script>
	$(document).ready(function() {
        
        
        $(".etiqueta").click(function() {       
            
            window.location.href= 'admin_calendario-editar?formato='+$(this).attr("value");
        });        
		
	
	});
</script>