<form role="form" method="post" action="admin_classe-action" id="frmEdit">
<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">{LABEL}</h3>
	</div>
	<div class="box-body">
			<input type="hidden" name="id" value="{id}"/>
			<input type="hidden" name="acao" value="{ACAO}"/>
			<div class="row">
				<div class="col-md-8 col-xs-8">
					<div class="form-group">
						<label for="descricao"><i class='fa'></i><b>Descrição</b></label>
						<input type="text" id="descricao" name="descricao" placeholder="Descrição da classe" value="{descricao}" class="required form-control"/>
					</div>
				</div>
				  
				<div class="col-md-4 col-xs-4">
					<div class="form-group">
					<label for="ativo"><i class='fa'></i><b>Ativo</b></label>
					<div class="checkbox">
						<label><input type="radio" name="ativo" value="1" {ativosim}/> Sim</label>
						<label><input type="radio" name="ativo" value="0" {ativonao}/> Não</label>
					</div>
					</div>
				</div>
				
			</div>
			<div class="row">
			    <div class="col-sm-6">
                      <div class="form-group">
                      <label for="idademin"><i class='fa'></i><b>Idade Mínima</b></label>                      
                      <input id="idademin" type="text" name="idademin" value="{MIN}" class="required form-control">
                      </div>
                    </div>
                <div class="col-sm-6">
                      <div class="form-group">
                      <label for="idademax"><i class='fa'></i><b>Idade Mínima</b></label>                      
                      <input id="idademax" type="text" name="idademax" value="{MAX}" class="required form-control">
                      </div>
                    </div>
			</div>

			

	</div>
<div class="panel-footer text-center">
	<button class="btn btn-success" type="submit">Salvar</button>
	<button class="btn btn-default btVoltar" type="button">Voltar</button>
</div>

</div>
</form>

<script>
	$(document).ready(function() {
               $("#idademin").inputmask({ mask: "999"}); 
			 $("#idademax").inputmask({ mask: "999"});
			
		
	});
</script>