<div class="header">
	Habilitar usuário
</div>
<form class="form-signin" action="admin_usuario-doativar" method="post" id="frmEdit" name="frmEdit">
     <input type="hidden" name="id" id="id" value="{id}"/>
	<div class="body bg-gray">
		<div class="form-group">
			<img src="img/logo.png" alt="Femeju" class="img-thumbnail">
		</div>
		<div class="form-group">
			<label>Login</label>
			 {email}
		</div>
		<div class="form-group">
			<label>Insira sua senha</label>
			 <input type="password"  name="senha" id="senha" autofocus="" required="" placeholder="Senha" class="required form-control" value="" autocomplete="off">
		</div>
		<div class="form-group">
			<label>Repita a senha</label>
			 <input type="password"  name="senha2" id="senha2" autofocus="" required="" placeholder="Senha" class="required form-control" value="" autocomplete="off">
		</div>
	</div>
	<div class="footer">
		<button type="submit" class="btn btn-success btn-block">
			Ativar Usuário
		</button>
		<a class="btn btn-lg btn-default btn-block" href="index.php">Voltar</a>
	</div>
</form>