<form role="form" method="post" action="admin_usuario-action" id="frmEditUsuario" enctype="multipart/form-data" autocomplete="off">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">{LABEL}</h3>
		</div>
		<div class="box-body">

			<input type="hidden" name="id" id="id" value="{id}"/>
			<input type="hidden" name="acao" value="{ACAO}"/>
			
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="nome"><i class='fa'></i><b>Nome</b></label>
						<input type="text" id="nome" name="nome" placeholder="Nome" value="{nome}" class="required form-control"/>
					</div>
				</div>
				<!-- BEGIN BLOCK_EDIT -->
					<div class="col-md-6 col-xs-12">

					<div class="form-group">
						<label for="ativo"><i class='fa'></i><b>Ativo</b></label>

					</div>
					<div class="radio-inline">
						<label>
							<input type="radio" name="ativo" id="ativon" value="0" {checknao}/>
							Não </label>
					</div>
					<div class="radio-inline">
						<label>
							<input type="radio" name="ativo" id="ativos" value="1" {checksim}/>
							Sim </label>
					</div>

				</div>
				<!-- END BLOCK_EDIT -->
				</div>

				
				<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="cpf"><i class='fa'></i><b>CPF/CNPJ</b></label>
						<input type="text" id="cpf" name="cpf" placeholder="CPF" value="{cpf}" class="required cpfcnpj form-control"/>
					</div>
				</div>

				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="senha"><i class='fa'></i><b>Senha</b></label>
						<input type="password" id="senha" name="senha" placeholder="Senha" value="{senha}" autocomplete="off" class="form-control"  autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="telefone"><i class='fa'></i><b>Telefone</b></label>
						<input type="text" id="telefone" name="telefone" placeholder="Telefone fixo" value="{telefone}" class="form-control" data-inputmask='"mask": "(99) 9999-99999"' data-mask/>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="celular"><i class='fa'></i><b>Celular</b></label>
						<input type="text" id="celular" name="celular" placeholder="Celular" value="{celular}" class="required form-control" data-inputmask='"mask": "(99) 9999-99999"' data-mask/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="email"><i class='fa'></i><b>E-mail</b></label>
						<input type="text" id="email" name="email" placeholder="E-mail" value="{email}" class=" required form-control email" autocomplete="off"/>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="form-group">
						<label for="email2"><i class='fa'></i><b>Confirmação de E-mail</b></label>
						<input type="text" id="email2" name="email2" placeholder="E-mail Confirmar" value="{email}" class=" required form-control email" autocomplete="off"/>
					</div>
				</div>

			</div>
			<div class="row">				
				<div class="col-md-12 col-xs-12">
					<div class="form-group">
						<label for="foto"><i class='fa'></i><b>Foto</b></label>
						<input type="file"  name="foto" id="foto"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-12 text-left">
					<div class="form-group">

						<label for="perfil"><i class='fa'></i><b>Perfil</b></label>
						<select name="perfil" id="perfil" class="required form-control">
							<!-- BEGIN BLOCK_ITEM -->
							<option value="{idItem}" {checkItem}>{labelItem}</option>
							<!-- END BLOCK_ITEM -->
						</select>
					</div>

				</div>
				<div class="col-md-6 col-xs-12 text-left">
					<div id="box_perfil">

					</div>
					</div>
			</div>

		</div>
		<div class="box-footer text-center">
			<button class="btn btn-success" type="submit">
				Salvar
			</button>
			<button class="btn btn-default btVoltar" type="button">
				Voltar
			</button>
		</div>

	</div>
</form>
<script>
	$(document).ready(function() {
		
		$("#cpf").inputmask({ mask: ["999.999.999-99","99.999.999/9999-99"] });
		
		$("#foto").fileinput({
				 initialPreview: [
					<!-- BEGIN BLOCK_IMG -->"{IMG_USER}",<!-- END BLOCK_IMG -->
			],
			overwriteInitial: true,
			maxFileSize: 2000,
			maxFilesNum: 1,
			allowedFileExtensions: ["jpg", "jpeg", "gif", "png"],
			previewClass: "bg-warning",
			allowedFileTypes: ["image"],
			showUpload: false,
			showCaption: false
		});


		//Flat red color scheme for iCheck
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
			checkboxClass : 'icheckbox_flat-red',
			radioClass : 'iradio_flat-red'
		});

		$("#frmEditUsuario").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
				$(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
				$(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
				$(element).parents('.form-group').children("label").children("i").addClass("fa-check");
			},
			rules : {
				email2 : {
					equalTo : '[name="email"]'
				},
				telefone: {
				required: function() {
					return $("#celular").val() == "";
				}          		
				
				},
				celular: {
				required: function() {
					return $("#telefone").val() == "";
				}    
				},	
				email: {
                required: true,
                remote: {
							url: "ajax/usuario_verificaLogin.php?idUser="+$("#id").val()+"&login=1"+$("#email").val(),
							type: "get",
							}
				}
				},
				messages: {
					email: {
					remote: "E-mail já existe no sistema"
					}
				}
		});

		$("#perfil").change(function(){
			mudarPerfil();
		});

		function mudarPerfil(){
			if($("#perfil").val() > 0){
			$.ajax({
				url : "ajax/usuario_perfil.php?iduser={id}",
				type : "POST",
				data : {
					idperfil : $("#perfil").val()
				},

				beforeSend: function( ) {
					$('#box_perfil').html('{carregando}');
		  		},
			}).done(function(msg) {
				$("#box_perfil").html(msg);
			});
			}else{
				$("#box_perfil").html('<input type="hidden" id="registro" name="registro" value="{registro}"/>');
			}
		}
		//mudarPerfil();
	});
</script>