<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">Selecione o perfil que deseja editar:</h3>
		

	</div>
	<div class="box-body">
		
		<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<!-- BEGIN BLOCK_ITEM_LISTA -->
		<a class="btn btn-primary btn-block btn-lg" value="1" href="usuario-listar?idPerfil={ID_PERFIL_HASH}">{labelItem}</a>
		<!-- END BLOCK_ITEM_LISTA -->
	
	</div>
	<div class="col-md-1"></div>
</div>	
		
	</div>
	<div class="box-footer"> </div>
</div>


