<script src="js/plugins/bsnAutoSuggest/bsn.AutoSuggest_2.1.3_comp.js"></script>
<link href="css/bsnAutoSuggest/autosuggest_inquisitor.css" rel="stylesheet" type="text/css" />
<form role="form" method="post" action="admin_associacao-action" id="frmEditAssociacao" enctype="multipart/form-data" autocomplete="off">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{LABEL}</h3>
        </div>
        <div class="box-body">

            <input type="hidden" name="id" id="id" value="{id}"/>
            <input type="hidden" id="idResponsavel" name="idResponsavel" value="{id_responsavel}"/>
            <input type="hidden" name="acao" value="{ACAO}"/>

            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="nome"><i class='fa'></i><b>Nome</b></label>
                        <input type="text" id="nome" name="nome" placeholder="Nome da associação" value="{nome}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="razaoSocial"><i class='fa'></i><b>Razão Social</b></label>
                        <input type="text" id="razaoSocial" name="razaoSocial" placeholder="Razão social da associação" value="{razaoSocial}" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="ativo"><i class='fa'></i><b>Ativo</b></label><br/>
                        <input type="radio" class="required form-control flat-blue" name="ativo" value="1" {checkedAtivo}/> Ativo &nbsp;&nbsp;<input type="radio" class="required form-control"  name="ativo" value="0" {checkedInativo}/> Inativo
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="descricao"><i class='fa'></i><b>Descrição</b></label>
                        <input type="text" id="descricao" name="descricao" placeholder="Descrição" value="{descricao}" maxlength="200" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="cnpj"><i class='fa'></i><b>CNPJ</b></label>
                        <input type="text" id="cnpj" name="cnpj" value="{cnpj}" class="cnpj form-control"/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="sigla"><i class='fa'></i><b>Sigla</b></label>
                        <input type="text" id="sigla" name="sigla" value="{sigla}" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataFiliacao"><i class='fa'></i><b>Data da filiação</b></label>
                        <input type="text" id="dataFiliacao" name="dataFiliacao" value="{dataFiliacao}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                     <div class="form-group">
                        <label for="logomarca"><i class='fa'></i><b>Logomarca</b></label><BR>
                        <input type="file"  name="logomarca" id="logomarca"/>
                    </div>
                </div>
            </div>
            <fieldset><legend>Endereço</legend>
                <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="endereco"><i class='fa'></i><b>Logradouro</b></label>
                        <input type="text" id="endereco" name="endereco" value="{endereco}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="bairro"><i class='fa'></i><b>Bairro</b></label>
                        <input type="text" id="bairro" name="bairro" value="{bairro}" class="required form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="uf"><i class='fa'></i><b>Estado</b></label>
                         <select name="uf" id="uf" class="required form-control">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_UF -->
                            <option value="{id_uf}" {selectedUf}>{uf}</option>
                            <!-- END BLOCK_UF -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="cidade"><i class='fa'></i><b>Cidade</b></label>
                        <select name="cidade" id="cidade" class="required form-control">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CIDADE -->
                            <option value="{id_cidade}" {selectedCidade}>{nome_cidade}</option>
                            <!-- END BLOCK_CIDADE -->
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="cep"><i class='fa'></i><b>CEP</b></label>
                        <input type="text" id="cep" name="cep" value="{cep}" class="form-control"/>
                    </div>
                </div>
            </div>
            </fieldset>
             <fieldset><legend>Responsável</legend>
            <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                        <label for="responsavel"><i class='fa'></i><b>Nome</b></label>
                        <input type="text" id="nome_responsavel" name="nome_responsavel" value="{nome_responsavel}" class="required form-control"/>
                                                  
                    </div>
            </div>
             <div class="col-md-4 col-xs-12">
                 <div class="form-group">
                        <label for="nomemeio_responsavel"><i class='fa'></i><b>Nome do Meio</b></label>
                        <input type="text" id="nomemeio_responsavel" name="nomemeio_responsavel" value="{nomemeio_responsavel}" class="form-control"/>
                    </div>
            </div>
             <div class="col-md-4 col-xs-12">
                 <div class="form-group">
                        <label for="sobrenome_responsavel"><i class='fa'></i><b>Sobrenome</b></label>
                        <input type="text" id="sobrenome_responsavel" name="sobrenome_responsavel" value="{sobrenome_responsavel}" class="required form-control"/>
                    </div>
            </div>
            </div>  
            <div class="row">
            <div class="col-md-4 col-xs-12">
                 <div class="form-group">
                        <label for="cpf"><i class='fa'></i><b>CPF/CNPJ</b></label>
                        <input type="text" id="cpf_responsavel" name="cpf_responsavel" placeholder="CPF" value="{cpf_responsavel}" class="cpfcnpj form-control"/>
                    </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                        <label for="email"><i class='fa'></i><b>E-mail</b></label>
                        <input type="text" id="email" name="email" value="{email_responsavel}" class="required form-control email"/>
                         
                    </div>
            </div>
            
             <div class="col-md-4 col-xs-12">
                 <div class="form-group">
                        <label for="celular"><i class='fa'></i><b>Celular</b></label>
                        <input type="text" id="celular_responsavel" name="celular_responsavel" value="{celular_responsavel}" class="required form-control"/>
                    </div>
            </div>
            </div>  
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="endereco_resp"><i class='fa'> </i><b>Logradouro</b></label>
                        <input type="text" id="endereco_responsavel" name="endereco_responsavel" value="{endereco_resp}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="bairro_resp"><i class='fa'> </i><b>Bairro</b></label>
                        <input type="text" id="bairro_responsavel" name="bairro_responsavel" value="{bairro_resp}" class="required form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="uf_responsavel"><i class='fa'> </i><b>Estado</b></label>
                         <select name="uf_responsavel" id="uf_responsavel" class="required form-control">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_UF_RESP -->
                            <option value="{id_uf}" {selectedUfresp}>{uf}</option>
                            <!-- END BLOCK_UF_RESP -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="cidade_responsavel"><i class='fa'> </i><b>Cidade</b></label>
                        <select name="cidade_responsavel" id="cidade_responsavel" class="required form-control">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CIDADE_RESP -->
                            <option value="{id_cidade_resp}" {selectedCidaderesp}>{nome_cidade_resp}</option>
                            <!-- END BLOCK_CIDADE_RESP -->
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="cep_responsavel"><i class='fa'> </i><b>CEP</b></label>
                        <input type="text" id="cep_responsavel" name="cep_responsavel" value="{cep_resp}" class="required form-control"/>
                    </div>
                </div>
            </div>         
        </fieldset>
<fieldset><legend>Contato</legend>
            <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="form-group">
                        <label for="telefone1"><i class='fa'></i><b>Telefone 1</b></label>
                        <input type="text" id="telefone1" name="telefone1" value="{telefone1}" class="required form-control"/>
                    </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="form-group">
                        <label for="telefone2"><i class='fa'></i><b>Telefone 2</b></label>
                        <input type="text" id="telefone2" name="telefone2" value="{telefone2}" class="form-control"/>
                    </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="form-group">
                        <label for="email_a"><i class='fa'></i><b>E-mail</b></label>
                        <input type="email" id="email_a" name="email_a" value="{email}" class="email form-control"/>
                    </div>
            </div>
            </div>   
             <div class="row">
                <div class="col-md-6 col-xs-6">
                <div class="form-group">
                        <label for="midiaSocial"><i class='fa'></i><b>Web Site</b></label>
                        <input type="text" id="website" name="website" value="{website}" class="form-control"/>
                    </div>
            </div>
             <div class="col-md-6 col-xs-6">
                <div class="form-group">
                        <label for="midiaSocial"><i class='fa'></i><b>Mídia Social</b></label>
                        <input type="text" id="midiaSocial" name="midiaSocial" value="{midiaSocial}" class="form-control"/>
                    </div>
            </div> 
            </div>           
        </fieldset>
        <fieldset><legend>Fotos</legend>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                     <div class="form-group">
                        <label for="Fotos"><i class='fa'></i><b>Fotos</b></label><BR>
                        <input type="file"  name="fotos[]" id="fotos" multiple="multiple"/>
                    </div>
                </div>
            </div>
        </fieldset> 
        </div>
        <div class="box-footer text-center">
            <a class="btn btn-success" id="save">
                Salvar
            </a>
            <button class="btn btn-default btVoltar" type="button">
                Cancelar
            </button>
        </div>

    </div>
</form>
<script>
    function carregaCidadeResp(){
        $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                async:false,
                data : {uf: $("#uf_responsavel").val()},                
            }).done(function(msg) {
                $("#cidade_responsavel").html(msg);
            });
    }
	$(document).ready(function() {
        var options = {
    script: "ajax/json_pessoas.php?",
    varname: "busca",
    json: true,
    maxresults: 35,
    callback: function (obj) {
        var pessoa; 
        $.ajax({
            url:'ajax/json_pessoa.php',
            data:{id:obj.id}
            }).done(function(retorno){
                pessoa = JSON.parse(retorno);
                document.getElementById("idResponsavel").value =pessoa.id;        
                document.getElementById("nomemeio_responsavel").value =pessoa.nomeMeio;
                document.getElementById("endereco_responsavel").value =pessoa.endereco;
                document.getElementById("bairro_responsavel").value =pessoa.bairro;
                document.getElementById("uf_responsavel").value =pessoa.cidade.uf.id;
                document.getElementById("nomemeio_responsavel").value =pessoa.nomeMeio;
                document.getElementById("sobrenome_responsavel").value =pessoa.sobrenome;
                document.getElementById("nome_responsavel").value =pessoa.nome;
                document.getElementById("email").value =pessoa.email;
                document.getElementById("celular_responsavel").value =pessoa.telCelular;
                document.getElementById("cep_responsavel").value =pessoa.cep;
                carregaCidadeResp();
                document.getElementById("cidade_responsavel").value =pessoa.cidade.id;
            });
        
         }
    
};
var as = new bsn.AutoSuggest('nome_responsavel', options);
        
        $('#dataFiliacao').datepicker();
        $("#cnpj").inputmask({ mask: "99.999.999-9999-99"});
        $("#celular_responsavel").inputmask({ mask: ["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#telefone1").inputmask({ mask: ["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#cpf_responsavel").inputmask({ mask: ["999.999.999-99","99.999.999/9999-99"] });
        $("#cep").inputmask({ mask: "99.999-999"});
        $("#cep_responsavel").inputmask({ mask: "99.999-999"});
        $("#telefone2").inputmask({ mask:["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#save").click(function() {
            
            $("#frmEditAssociacao").submit();
        });
        
		$("#logomarca").fileinput({
		initialPreview: [
		<!-- BEGIN BLOCK_IMG -->"{LOGOMARCA}",<!-- END BLOCK_IMG -->
		], overwriteInitial: true,
		maxFileSize: 2000,
		maxFilesNum: 1,
		allowedFileExtensions: ["jpg", "jpeg", "gif", "png"],
		previewClass: "bg-warning",
		allowedFileTypes: ["image"],
		showUpload: false,
		showCaption: false,
		language: 'pt-BR'
	});

    
    $("#fotos").fileinput({
        initialPreview: [
        <!-- BEGIN BLOCK_FOTOS -->"{FOTOS}",<!-- END BLOCK_FOTOS -->
        ], overwriteInitial: false,
        maxFileSize: 2000,
        maxFilesNum: 30,
        allowedFileExtensions: ["jpg", "jpeg", "gif", "png"],
        previewClass: "bg-warning",
        allowedFileTypes: ["image"],
        showUpload: false,
        showCaption: false,
        showRemove: false,
        language: 'pt-BR'
    });
    
   
    $("#uf").change(function(){
            $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                data : {uf: $(this).val()},                
            }).done(function(msg) {
                $("#cidade").html(msg);
            });

        });
        
     $("#uf_responsavel").change(function(){
            $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                data : {uf: $(this).val()},                
            }).done(function(msg) {
                $("#cidade_responsavel").html(msg);
            });

        });
        
	
	$(".btExcluirImagem").click(function(){
	   if(confirm("Tem certeza que deseja excluir essa imagem?")){
	       $.ajax({
                url : "ajax/admin_asssociacao_apagar_imagem.php",
                type : "POST",
                data : {idImagem: $(this).val(),idAssociacao:$("#id").val()},                
            }).done(function(msg) {
                
            });
	     $(this).parent().hide('fade');  
	   } 
	});
	
	$("#frmEditAssociacao").validate({
            errorClass : "help-inline",
            errorElement : "div",
            highlight : function(element, errorClass, validClass) {
                $(element).parents('.form-group').addClass('has-error');
                $(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
            },
            unhighlight : function(element, errorClass, validClass) {
                $(element).parents('.form-group').removeClass('has-error');
                $(element).parents('.form-group').addClass('has-success');
                $(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
                $(element).parents('.form-group').children("label").children("i").addClass("fa-check");
            },
            rules : {
                email: {
                required: true,
                remote: {
                            url: "ajax/usuario_verificaLogin.php",
                            type: "post",
                            data: {
                              idUser: function() {
                                return $("#idResponsavel").val();
                              }
                            }
                }
                }
                },
                messages: {
                    email: {
                    remote: "E-mail já existe no sistema"
                    }
                }
        });
	
	
	});
</script>