<script>
	$(document).ready(function() {
		
        $('.excluir').click(function() {
            if (confirm("Tem certeza que deseja excluir esse registro e todas as suas dependências do sistema?"))
                window.location.href = 'admin_galeria-action?acao=excluir&id=' + $(this).attr("value");
        });
		$(".paginar").click(function(){
			$("#pagina").val($(this).attr("value"));
			pesquisar();
		});
		function pesquisar(){
			$.ajax({
				url : "ajax/galeria_paginador.php",
				type : "POST",
				data : $("#frmPesquisa").serialize(),

				beforeSend: function( ) {
					$('#resultado').html('{LOADING}');
		  		},
			}).done(function(msg) {
				$("#resultado").html(msg);
			});

		}

	});

</script>


		<table class="table table-striped table-hover data-table">
			<thead>
				<tr>
					<th class="hidden-xs">Foto</th>
					<th>Data</th>
					<th style="width: 60%;">Título</th>					
					<th style="width: 160px;" class="text-center hidden-xs">Ação</th>
					<th class="visible-xs">Ação</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN BLOCK_ITEM_LISTA -->
				<tr>
					<td class="hidden-xs">
					<!-- BEGIN BLOCK_IMG -->
      			<img class="img-responsive" width="40" src="img/galeria/{foto}" alt="{foto}"/>
      		<!-- END BLOCK_IMG -->
      		<!-- BEGIN BLOCK_VIDEO -->
      			<video width="40">
  						<source src="img/galeria/{foto}" type="video/mp4">
  				</video>
      		<!-- END BLOCK_VIDEO -->	
					
					</td>
					<td>{data}</td>
					<td>{titulo}</td>
					<td class="text-right hidden-xs" >
					<div class="btn-group">
						<a type="button" class="btn btn-default" href="admin_galeria-editar?id={ID_HASH}" title="Editar" ><span class="fa fa-edit"></span></a>
						<a class="btn btn-danger excluir" href="#"  value="{ID_HASH}"  title="Excluir"><span class="fa fa-trash-o"> </span></a>
					</div></td>
					<td class="visible-xs">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-list"></span><span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">							
							<li>
								<a href="admin_galeria-editar?id={ID_HASH}"><span class="fa fa-edit"></span> Editar</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#" value="{ID_HASH}" class="excluir"><span class="fa fa-trash-o text-danger"></span> Excluir</a>
							</li>
						</ul>
					</div></td>
				</tr>

				<!-- END BLOCK_ITEM_LISTA -->
			</tbody>
		</table>
	<!-- BEGIN BLOCK_PAGINACAO -->
	
                                        <ul class="pagination pagination-sm no-margin pull-ce">
                                            <li><a href="#" value="{PAGINA_ANTERIOR}" class="paginar">&laquo;</a></li>
                                            <li><a href="#">{PAGINA}/{TOTAL_PAGINAS}</a></li>
                                            <li><a href="#" value="{PROXIMA_PAGINA}" class="paginar">&raquo;</a></li>
                                        </ul>

	<!-- END BLOCK_PAGINACAO -->
