<form role="form" method="post" action="admin_competicao-action" id="frmEdit" name="frmEdit">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Configurações</h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="acao" value="alterar"/>
            <input type="hidden" name="id" id="id" value="{ID}"/>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="titulo"><i class='fa'></i><b>Título</b></label>
                        <input type="text" id="titulo" name="titulo" placeholder="Título do evento" value="{TITULO}" class="required form-control"/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="inscricao"><i class='fa'></i><b>Inscrições Abertas</b></label>
                        <div class="checkbox">
                            <input type="radio" class="required flat-blue" name="inscricao" value="1" class="flat-blue" {checkedInscricaoOn}/>
                            Sim &nbsp;&nbsp;
                            <input type="radio" class="required flat-blue"  name="inscricao" value="0" class="flat-blue" {checkedInscricaoOff}/>
                            Não
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="ativo"><i class='fa'></i><b>Ativo</b></label>
                        <div class="checkbox">
                            <input type="radio" class="required flat-blue" name="ativo" value="1"  class="flat-blue" {checkedAtivo}/>
                            Ativo &nbsp;&nbsp;
                            <input type="radio" class="required flat-blue"  name="ativo" value="0" class="flat-blue" {checkedInativo}/>
                            Inativo
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="descricao"><i class='fa'></i><b>Descrição</b></label>
                        <textarea type="text" id="descricao" name="descricao" placeholder="Descrição do evento" class="required form-control">{DESCRICAO}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="tipo"><i class='fa'></i><b>Tipo de Competição</b></label>
                        <select name="tipo" id="tipo" class="form-control required">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_TIPO -->
                            <option value="{ID_TIPO}" {SELECTED_TIPO}>{DESC_TIPO}</option>
                            <!-- END BLOCK_TIPO -->
                        </select>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="custa"><i class='fa'></i><b>Custa Associada</b></label>
                        <select name="custa" id="custa" class="form-control required">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CUSTA -->
                            <option value="{ID_CUSTA}" {SELECTED_CUSTA}>{DESC_CUSTA}</option>
                            <!-- END BLOCK_CUSTA -->
                        </select> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataEvento"><i class='fa'></i><b>Data da Competição</b></label>
                        <input id="dataEvento" type="text" name="dataEvento" value="{DATA}" class="required form-control">
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataEvento"><i class='fa'></i><b>Data limite da Inscrição</b></label>
                        <input id="dataInscricao" type="text" name="dataInscricao" value="{DATA_INSCRICAO}" class="required form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5">
                    <div class="form-group">
                        <label for="dataPagamento"><i class='fa'></i><b>Data Limite de Pagamento</b></label>
                        <input id="dataPagamento" type="text" name="dataPagamento" value="{DATA_PAGAMENTO}" class="form-control required">
                    </div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <div class="form-group">
                        <label for="dataDesconto"><i class='fa'></i><b>Data de Pagamento com Desconto</b></label>
                        <input id="dataDesconto" type="text" name="dataDesconto" value="{DATA_DESCONTO}" class="form-control">
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="percentDesconto"><i class='fa'></i><b>Desconto %</b></label>
                        <input type="text" value="{DESCONTO}" name="percentDesconto" id="percentDesconto" class="form-control" />
                    </div>
                </div>

            </div>
            <!-- BEGIN BLOCK_COMPETICAO -->
            <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label for="valor"><i class='fa'> </i>Valor da Dobra 1</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        R$
                                    </div>
                                    <input type="text" class="form-control" name="dobra1" id="dobra1" value="{dobra1}">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label for="valor"><i class='fa'> </i>Valor da Dobra 2</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        R$
                                    </div>
                                    <input type="text" class="form-control" name="dobra2" id="dobra2" value="{dobra2}"/>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label for="valor"><i class='fa'> </i>Valor da Dobra 3</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        R$
                                    </div>
                                    <input type="text" class="form-control" name="dobra3" id="dobra3" value="{dobra3}"/>

                                </div>

                            </div>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="dataEvento"><i class='fa'></i><b>Classes Associadas ao evento:</b></label>                        
                    </div>
                     <!-- BEGIN BLOCK_CLA -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"  class="flat-blue" name="classe[]" id="classes" value="{ID_CLA}" aria-label="{DESC_CLA}" {CHECK_CLA} >
                         {DESC_CLA}
                      </label>
                    </div>         
                     <!-- END BLOCK_CLA -->           
                </div>
            </div>
            <!-- END BLOCK_COMPETICAO -->
        </div>
        <div class="panel-footer text-right">
           <a class="btn btn-default" href='admin_competicao'>
                Voltar
            </a>
            <button class="btn btn-success" type="submit" >
                Salvar
            </button>
        </div>
    </div>
</form>



<script>
	


	$(document).ready(function() {

		$("#dataEvento").datepicker();
		$("#dataInscricao").datepicker();
		 $("#dataPagamento").datepicker();
        $("#dataDesconto").datepicker();
        $("#percentDesconto").inputmask('[9]99');
        $("#percentDesconto")
        <!-- BEGIN BLOCK_COMPETICAO_JS -->
        $("#dobra3").inputmask({
            alias : "decimal",
            groupSeparator : ".",
            autoGroup : true,
            digits : 2,
            digitsOptional : false,
            prefix : "",
            placeholder : ""
        });
		

		$("#dobra1").inputmask({
			alias : "decimal",
			groupSeparator : ".",
			autoGroup : true,
			digits : 2,
			digitsOptional : false,
			prefix : "",
			placeholder : ""
		});
		$("#dobra2").inputmask({
            alias : "decimal",
            groupSeparator : ".",
            autoGroup : true,
            digits : 2,
            digitsOptional : false,
            prefix : "",
            placeholder : ""
        });
 <!-- END BLOCK_COMPETICAO_JS -->
		

		
	}); 
</script>