<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Lista de Competições</h3>
        <div class="box-tools">
            <form name="frmPesquisa" id="frmPesquisa" action="admin_pagamento-custas" method="post" class="pull-right form form-inline">
                <label for="pefil">Situação:</label>
                <input type="radio" class="form-control" value="1" name="ativo" {checked_ativo}/>
                Ativo
                <input type="radio" class="form-control" value="0" name="ativo" {checked_inativo}/>
                Inativo
                <button type="button" class="btn btn-sm btn-default paginar" value="1">
                    <i class="fa fa-filter"> </i> Filtrar
                </button>

        </div>
        <input type="hidden" name="pagina" id="pagina" value="{PAGINA}"/>
        </form>
    </div>
    <div id="boxItens">
        
    </div>
<div class="panel-footer text-right">
        <a class="btn btn-primary" href="admin_competicao-nova"><i class="fa fa-plus"></i> Nova Competição</a>
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>
    </div>


        
    </div>
    

<script>
   function pesquisar(){
    $.ajax({
    url : "ajax/admin_pagamento_custas.php",
    type : "POST",
    data : $("#frmPesquisa").serialize(),

    beforeSend: function( ) {
    $('#boxItens').html('{LOADING}');
    },
    }).done(function(msg) {
    $("#boxItens").html(msg);
    });

    }
    $(document).ready(function() {
      <!-- BEGIN BLOCK_PESQUISAR -->   pesquisar(); <!-- END BLOCK_PESQUISAR -->
    });</script>