<form role="form" method="post" action="admin_competicao-action" id="frmEdit">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">{LABEL}</h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="acao" value="incluir"/>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="titulo"><i class='fa'></i><b>Título</b></label>
                        <input type="text" id="titulo" name="titulo" placeholder="Título do Evento" value="" class="required form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="descricao"><i class='fa'></i><b>Descrição</b></label>
                        <textarea type="text" id="descricao" name="descricao" placeholder="Descrição do evento" class="required form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="tipo"><i class='fa'></i><b>Tipo de Evento</b></label>
                        <select name="tipo" id="tipo" class="form-control required">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_TIPO -->
                            <option value="{ID_TIPO}">{DESC_TIPO}</option>
                            <!-- END BLOCK_TIPO -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="custa"><i class='fa'></i><b>Custa Associada</b></label>
                        <select name="custa" id="custa" class="form-control required">
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CUSTA -->
                            <option value="{ID_CUSTA}">{DESC_CUSTA}</option>
                            <!-- END BLOCK_CUSTA -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataEvento"><i class='fa'></i><b>Data do Evento</b></label>
                        <input id="dataEvento" type="text" name="dataEvento" value="" class="required form-control">
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataInscricao"><i class='fa'></i><b>Data Limite da Inscrição</b></label>
                        <input id="dataInscricao" type="text" name="dataInscricao" value="" class="required form-control">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5">
                    <div class="form-group">
                        <label for="dataPagamento"><i class='fa'></i><b>Data Limite de Pagamento</b></label>
                        <input id="dataPagamento" type="text" name="dataPagamento" value="" class="form-control required">
                    </div>
                </div>
                <div class="col-md-5 col-xs-5">
                    <div class="form-group">
                        <label for="dataDesconto"><i class='fa'></i><b>Data de Pagamento com Desconto</b></label>
                        <input id="dataDesconto" type="text" name="dataDesconto" value="" class="form-control">
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="percentDesconto"><i class='fa'></i><b>Desconto %</b></label>                        
                       <input type="text" value="" name="percentDesconto" id="percentDesconto" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataEvento"><i class='fa'></i><b>Competição</b></label>
                        <div class="radio-group">
                            <input id="competicao" type="radio" name="competicao" value="1" class="required flat-blue">
                            Sim &nbsp;
                            <input id="competicao" type="radio" name="competicao" value="0" class="required flat-blue" checked="checked">
                            Não
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-default btVoltar" type="button">
                <span class="glyphicon glyphicon-backward"> Voltar
            </button>
            <button class="btn btn-primary" type="submit" >
                Avançar <span class="glyphicon glyphicon-forward">
            </button>

        </div>

    </div>
</form>
<script>
	$(document).ready(function() {

		$("#dataEvento").datepicker();
        $("#dataInscricao").datepicker();
        $("#dataPagamento").datepicker();
        $("#dataDesconto").datepicker();
        $("#percentDesconto").inputmask('[9]99');
	}); 
</script>