<div class="header">
	<img src="img/logo.png" alt="Femeju" class="img-thumbnail" width="50%">
</div>
<form action="admin_home-login" method="post" id="frm">
	<div class="body bg-gray">		
		<div class="form-group">
			<input type="email" name="login" class="required email form-control" placeholder="Login de Acesso" required="" autocomplete="off"/>
		</div>
		<div class="form-group">
			<input type="password" name="senha" class="required form-control" placeholder="senha" required="" autocomplete="off"/>
		</div>
		
	</div>
	<div class="footer">
		<button type="submit" class="btn btn-success btn-block">
			Entrar
		</button>
		<input type="hidden" name="url" value="{URL}"/>
		<p>
			<a href="admin_usuario-recuperaSenha">Esqueci minha senha.</a>
		</p>
		
	</div>
</form>
<p class="text-center">
			<b>Versão Beta 11.0</b><br/>
			<img src="img/all-browsers.png" alt="Femeju" class="img-thumbnail" width="50%"><br/>
			(Internet explorer 10 ou superior)
		</p>
<script>
	$(document).ready(function() {
		$("#frm").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
			}
		});
	}); 
</script>
