<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/noticias.png" />
            </div>
            <h2>Notícias</h2>
        </div>

        <h3>{titulo}
        <br/>
        <small>Brasília, {data}</small></h3>
        <p>{SUMARIO}</p>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <!-- BEGIN  BLOCK_IMG --><img src="img/noticias/{foto}" alt="..." class="img-responsive" align="left"  style="margin:1em; vertical-align: text-top; width:50%;display:inline;"/>
                    <!-- END  BLOCK_IMG -->
                    {texto}
                </p>
                <p>
                    <a type="submit" class="btn btn-default btn-xs" href="portal_noticia-main">Voltar</a>
                </p>
            </div>
        </div>
    </div>
</div>
