<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/noticias.png" />
            </div>
            <h2>Notícias {ANO}</h2>
        </div>
        <div id="mod-noticias">
        <!-- BEGIN BLOCK_NOTICIA -->
        
<div class="row">
    <div class="col-sm-12">
        <div style="margin-bottom:0px; padding-top:20px; border-top:1px solid #E3E3E8;min-height:120px;" class=" format-standard">
            <!-- BEGIN BLOCK_NOTICIA_FOTO -->
            <a class="post-format-s" title="Imagem" href="portal_noticia-detalhe?id={idhash}"><span> </span><img alt="Imagem" src="img/noticias/{imagem}" class="alignleft"></a>
            <!-- END BLOCK_NOTICIA_FOTO -->
            <header class="entry-header">
                <h2 class="post-title-small"><a title="leia mais.." href="portal_noticia-detalhe?id={idhash}">{titulo}</a></h2>
            </header>
            <p>
                {sumario}<a class="more_post" title="leia mais.." href="portal_noticia-detalhe?id={idhash}">...</a>
            </p>
            <div class="entry-info">

                {data}  | <a title="leia mais.." href="portal_noticia-detalhe?id={idhash}">Ler mais</a>

            </div>

        </div>
</div>
</div>
<!-- END BLOCK_NOTICIA -->

  </div>      
        <!-- BEGIN BLOCK_PAGINACAO -->
        <nav>
            <ul class="pager">
                <li class="previous {DISABLEL}">
                    <a href="#" class="paginar" value="{PAGINA_ANTERIOR}"><span aria-hidden="true">&larr;</span> Recentes</a>
                </li>
                <li class="center disabled">
                    <a href="#">{PAGINA}</a>
                </li>
                <!-- BEGIN BLOCK_ANO -->
                <li class="center">
                    <a href="#" class="anualizar" value="{ANO_V}">{ANO_V}</a>
                </li>
                <!-- END BLOCK_ANO -->
                <li class="next {DISABLER}">
                    <a href="#" class="paginar" value="{PROXIMA_PAGINA}">Anteriores <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>
        <!-- END BLOCK_PAGINACAO -->

    </div>
</div>

<input type="hidden" value="{PAGINA}" id="pagina" name="pagina"/>
<input type="hidden" value="{ANO}" id="ano" name="ano"/>
<script>
	function pesquisar() {
		$.ajax({
			url : "ajax/portal_noticia_paginar.php",
			type : "POST",
			data : {
				pagina : $("#pagina").val(),
				ano : $("#ano").val()
			},
			beforeSend : function() {
				$('#contentPortal').html('{LOADING}');
			},
		}).done(function(msg) {
			$("#contentPortal").html(msg);
		});

	}


	$(document).ready(function() { 
	    {EXECUTA_PESQUISA}
		$(".paginar").click(function() {
			$("#pagina").val($(this).attr("value"));
			pesquisar();
		});
		$(".anualizar").click(function() {
			$("#pagina").val("1");
			$("#ano").val($(this).attr("value"));
			pesquisar();
		});
	}); 
</script>