<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/servicos.png" />
                            </div>
            <h2>Gerência de Atleta</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="post" action="portal_servicos-action" id="frmEditAtleta" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="id" value="{id}"/>
                    <input type="hidden" name="associacao" id="associacao" value="{ID_ASSOCIACAO}"/>
                    <input type="hidden" name="acao" value="{ACAO}"/>       
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{LABEL}</h3>
                        </div>
                        <div class="box-body">
                              <fieldset>
                                <legend>
                                    Associação
                                </legend>
                                <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                        <label for="nomeAssociacao"><i class='fa'> </i><b>Nome da Associação</b></label>
                                        <input type="text" class="form-control" value="{NOME_ASSOCIACAO}" disabled/>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 text-right">
                                <img class="img-circle img-responsive right-side" src="img/associacoes/{LOGO_ASSOCIACAO}" style="width: 30%"/>
                                </div>
                                </div>
                                </fieldset>
                                    
                               <fieldset><legend>Dados Pessoais</legend>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="nome"><i class='fa'> </i><b>Nome</b></label>
                        <input type="text" id="nome" name="nome" placeholder="Nome do Atleta" value="{NOME}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="nomeMeio"><i class='fa'> </i><b>Nome do Meio</b></label>
                        <input type="text" id="nomeMeio" name="nomeMeio" placeholder="Nome do meio do Atleta" value="{NOME_MEIO}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="sobrenome"><i class='fa'> </i><b>Sobre Nome</b></label>
                        <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobre nome do atleta" value="{SOBRE_NOME}" class="required form-control" {DISABLED}/>
                    </div>
                </div>                
            </div>
            <div class="row">
            	<div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="nacionalidade"><i class='fa'> </i><b>Nome do Pai</b></label>
                        <input type="text" id="filiacaoPai" name="filiacaoPai" placeholder="Nome do pai do atleta" value="{FILIACAO_PAI}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="nacionalidade"><i class='fa'> </i><b>Nome da Mãe</b></label>
                        <input type="text" id="filiacaoMae" name="filiacaoMae" placeholder="Nome da mãe do atleta" value="{FILIACAO_MAE}" class="form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="nacionalidade"><i class='fa'> </i><b>Nacionalidade</b></label>
                        <input type="text" id="nacionalidade" name="nacionalidade" placeholder="País de nascimento do Atleta" value="{NACIONALIDADE}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                     <label for="ufnaturalidade"><i class='fa'> </i><b>UF Naturalidade</b></label><br/>   
                      <select name="ufnaturalidade" id="ufnaturalidade" class="required form-control" {DISABLED}>
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_UF_NATURALIDADE -->
                            <option value="{id_uf}" {selectedUf_nat}>{uf}</option>
                            <!-- END BLOCK_UF_NATURALIDADE -->
                        </select>  
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="naturalidade"><i class='fa'> </i><b>Naturalidade </b></label>
                        <select name="naturalidade" id="naturalidade" class="required form-control" {DISABLED}>
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CIDADE_NATURALIDADE -->
                            <option value="{id_cidade_nat}" {selectedCidadeNaturalidade}>{nome_cidade_nat}</option>
                            <!-- END BLOCK_CIDADE_NATURALIDADE -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="email"><i class='fa'> </i><b>E-mail</b></label>
                        <input type="text" id="email" name="email" placeholder="E-mail do Atleta" value="{EMAIL}" class="email required form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="dataNascimento"><i class='fa'> </i><b>Data de Nascimento</b></label>
                        <input type="text" id="dataNascimento" name="dataNascimento" value="{DATA_NASCIMENTO}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="sexo"><i class='fa'> </i><b>Sexo</b></label><br/>
                        <select class="form-control required" name="sexo" {DISABLED}>
                            <option value="" selected>Selecione</option>
                            <option value="F" {SELECTED_FEMININO}>Feminino</option>
                            <option value="M" {SELECTED_MASCULINO}>Masculino</option>
                        </select>
                    </div>
                </div>
            </div>            
            <div class="row">                
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="telefoneRes"><i class='fa'> </i><b>Telefone Residencial</b></label>
                        <input type="text" id="telefoneRes" name="telefoneRes" value="{TELEFONE_RES}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="telefoneCel"><i class='fa'> </i><b>Telefone Celular</b></label>
                        <input type="text" id="telefoneCel" name="telefoneCel" value="{TELEFONE_CEL}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="telefoneCom"><i class='fa'> </i><b>Telefone Comercial</b></label>
                        <input type="text" id="telefoneCom" name="telefoneCom" value="{TELEFONE_COM}" class="form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-md-6 col-xs-6">
                     <div class="form-group">
                        <label for="webSite"><i class='fa'> </i><b>Web Site</b></label><BR>
                        <input type="text" id="webSite" name="webSite" value="{WEB_SITE}" class="form-control" {DISABLED}/>
                    </div>
                </div>  
                <div class="col-md-6 col-xs-6">
                     <div class="form-group">
                        <label for="midiaSocial"><i class='fa'> </i><b>Mídia Social</b></label><BR>
                        <input type="text" id="midiaSocial" name="midiaSocial" value="{MIDIA_SOCIAL}" class="form-control" {DISABLED}/>
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="dataGraduacao"><i class='fa'> </i><b>Observações</b></label>
                        <textarea name="observacoes" id="observacoes" class="required form-control" rows="7" {DISABLED}>{OBS}</textarea>                        
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-md-6 col-xs-6">
                     <div class="form-group">
                        <label for="Foto"><i class='fa'> </i><b>Foto</b></label><BR>
                        <input type="file"  name="foto" id="foto" {DISABLED} />
                    </div>
                </div>  
                <div class="col-md-6 col-xs-6">
                     <div class="form-group">
                        <label for="vacinas"><i class='fa'> </i><b>Vacinas</b></label><BR>
                        <textarea class="form-control" name="vacinas" id='vacinas' rows="7" {DISABLED}>{VACINAS}</textarea>
                    </div>
                </div>              
            </div>
            </fieldset>
            <fieldset>
            	<legend>Documentos</legend>
            	<div class="row">   
            	 <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="cpf"><i class='fa'> </i><b>CPF</b>&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" class="form-control flat-blue" name="semcpf" id="semcpf"/> Sem CPF</label>
                        <input type="text" id="cpf" name="cpf" value="{CPF}" class="form-control cpf" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="rg"><i class='fa'> </i><b>RG</b>&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" class="form-control flat-blue" name="semrg" id="semrg" /> Sem RG</label>
                        <input type="text" id="rg" name="rg" value="{RG}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="rgOrgaoExpedidor"><i class='fa'> </i><b>Orgão Emissor</b></label>
                        <input type="text" id="rgOrgaoExpedidor" name="rgOrgaoExpedidor" value="{RG_ORGAO_EXP}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="rgDataExp"><i class='fa'> </i><b>Data Emissão</b></label>
                        <input type="text" id="rgDataExp" name="rgDataExp" value="{RG_DATA_EXP}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                </div>
                <div class="row">   
            	 <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="passaporte"><i class='fa'> </i><b>Passaporte</b></label>
                        <input type="text" id="passaporte" name="passaporte" value="{PASSAPORTE}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="passaporteDataVal"><i class='fa'> </i><b>Data Validade</b></label>
                        <input type="text" id="passaporteDataVal" name="passaporteDataVal" value="{PASSAPORTE_VAL}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="passaporteOrgao"><i class='fa'> </i><b>Orgão Espedidor</b></label>
                        <input type="text" id="passaporteOrgao" name="passaporteOrgao" value="{PASSAPORTE_ORGAO_EXP}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="form-group">
                        <label for="passaporteDataExp"><i class='fa'> </i><b>Data Expedição</b></label>
                        <input type="text" id="passaporteDataExp" name="passaporteDataExp" value="{PASSAPORTE_DATA_EXP}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                </div>
            </fieldset> 
            <fieldset><legend>Endereço</legend>
                <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="endereco"><i class='fa'> </i><b>Logradouro</b></label>
                        <input type="text" id="endereco" name="endereco" value="{ENDERECO}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="bairro"><i class='fa'> </i><b>Bairro</b></label>
                        <input type="text" id="bairro" name="bairro" value="{BAIRRO}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="form-group">
                        <label for="uf"><i class='fa'> </i><b>Estado</b></label>
                         <select name="uf" id="uf" class="required form-control" {DISABLED}>
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_UF -->
                            <option value="{id_uf}" {selectedUf}>{uf}</option>
                            <!-- END BLOCK_UF -->
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="cidade"><i class='fa'> </i><b>Cidade</b></label>
                        <select name="cidade" id="cidade" class="required form-control" {DISABLED}>
                            <option value="">Selecione</option>
                            <!-- BEGIN BLOCK_CIDADE -->
                            <option value="{id_cidade}" {selectedCidade}>{nome_cidade}</option>
                            <!-- END BLOCK_CIDADE -->
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="cep"><i class='fa'> </i><b>CEP</b></label>
                        <input type="text" id="cep" name="cep" value="{CEP}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            </fieldset>
            <fieldset><legend>Dados do Atleta</legend>
            	<!-- BEGIN BLOCK_STATUS -->
            	<div class="row">
                <div class="col-md-6 col-xs-6">
                	 <div class="form-group">
                        <label for="registroConf"><i class='fa'> </i><b>Número</b></label>
                        <input type="text" id="numeroFemeju" name="numeroFemeju" value="{NUMERO_FEMEJU}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                	 <div class="form-group">
                        <label for="registroConf"><i class='fa'> </i><b>Situação</b></label>
                        <input type="text" id="situacao" name="situacao" value="{SITUACAO}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                </div>
                <!-- END BLOCK_STATUS -->
                 <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                    	<label for="ativo"><i class='fa'> </i><b>Tipo</b></label><br/>
 					<div class="checkbox">
        			<label>
          				<input type="checkbox" class="" name="bitAtleta" value="1" {DISABLED} {CHECKED_ATLETA}/> Atleta
        			</label>
        			<label>
          				<input type="checkbox" class=""  name="bitTecnico" value="1" {DISABLED} {CHECKED_TECNICO}/> Técnico
        			</label>
        			<label>
          				<input type="checkbox" class=""  name="bitArbitro" value="1" {DISABLED} {CHECKED_ARBITRO}/> Árbitro
        			</label>
      				</div>	                   
                     
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="registroConf"><i class='fa'> </i><b>Registro na Confederação</b></label>
                        <input type="text" id="registroConf" name="registroConf" placeholder="Registro na Confederação" value="{REGISTRO_CONF}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="dataFiliacao"><i class='fa'> </i><b>Data da Filiação</b></label>
                        <input type="text" id="dataFiliacao" name="dataFiliacao" placeholder="Data da filiação da federação" value="{DATA_FILIACAO}" class="form-control" {DISABLED}/>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <label for="dataEmissaoCarteira"><i class='fa'> </i><b>Data da Emissão da Carteira</b></label>
                        <input type="text" id="dataEmissaoCarteira" name="dataEmissaoCarteira" placeholder="Data da Emissão da carteira" value="{DATA_EMISSAO_CART}" class="form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            <div class="row">                
             <div class="col-md-12 col-xs-12">
                <div class="form-group">
                        <label for="graduacao"><i class='fa'> </i><b>Graduação</b></label>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input type="hidden" name="graduacao" id="graduacao" value="{GRADUACAO}" class="required form-control"  {DISABLED} />
                        <!-- BEGIN BLOCK_BELT -->
                        <div class="btn btn-{BELT_BTN} bt_belt" value="{BELT_ID}"><img style="background:{BELT_COLOR}; width:50px; height: 20px;" src="img/icones/{BELT_IMG}"/><br/> {BELT_NAME}</div>
                        <!-- END BLOCK_BELT -->
                        </div>
                    </div>
            </div> 
            </div>
            
        </div>
        <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="form-group">
                        <label for="dataGraduacao"><i class='fa'> </i><b>Data da Graduação</b></label>
                        <input type="text" id="dataGraduacao" name="dataGraduacao" value="{DATA_GRADUACAO}" class="required form-control" {DISABLED}/>
                    </div>
                </div>
            </div>
            
            
        </fieldset>                   
                            

                            
                            
                            
                            
                            
                        </div>
                        
                        <div class="panel-footer text-right">
                        	<!-- BEGIN BLOCK_NEW -->
                            <button class="btn btn-success" id="save" type="submit">
                Salvar
            </button>
            <!-- END BLOCK_NEW -->
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>
                        </div>
							
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/plugins/bsnAutoSuggest/bsn.AutoSuggest_2.1.3_comp.js"></script>
<link href="css/bsnAutoSuggest/autosuggest_inquisitor.css" rel="stylesheet" type="text/css" />
<script>
    function cidadePorUf(){
         $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                async:false,
                data : {uf: $("#uf").val()},                
            }).done(function(msg) {
                $("#cidade").html(msg);
            });
    }
    $(document).ready(function() {
        $('#dataNascimento').datepicker();
        $('#dataGraduacao').datepicker();
        $('#dataFiliacao').datepicker();
        $('#dataEmissaoCarteira').datepicker();
        $('#rgDataExp').datepicker();
        $('#passaporteDataVal').datepicker();
        $('#passaporteDataExp').datepicker();
        $("#cpf").inputmask({ mask: "999.999.999-99"});
        $("#telefoneRes").inputmask({ mask: ["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#telefoneCel").inputmask({ mask: ["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#telefoneCom").inputmask({ mask: ["+99 99 9999-9999","+99 99 99999-9999"]});
        $("#cep").inputmask({ mask: "99.999-999"});
        
        
        $("#frmEditAtleta").validate({
            errorClass : "help-inline",
            errorElement : "div",
            highlight : function(element, errorClass, validClass) {
                $(element).parents('.form-group').addClass('has-error');
                $(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
            },
            unhighlight : function(element, errorClass, validClass) {
                $(element).parents('.form-group').removeClass('has-error');
                $(element).parents('.form-group').addClass('has-success');
                $(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
                $(element).parents('.form-group').children("label").children("i").addClass("fa-check");
            },
            
            rules : {
                cpf :{
                    required:{
                         depends: function () { return !$("#semcpf").prop("checked"); }
                    } 
                },
                rg :{
                    required:{
                         depends: function () { return !$("#semrg").prop("checked"); }
                    } 
                },
                rgOrgaoExpedidor :{
                    required:{
                         depends: function () { return !$("#semrg").prop("checked"); }
                    } 
                },
                rgDataExp :{
                    required:{
                         depends: function () { return !$("#semrg").prop("checked"); }
                    } 
                },
                email: {
                required: true,
                remote: {
                            url: "ajax/usuario_verificaLogin.php",
                            type: "post",
                            data: {
                              idUser: function() {
                                return $("#id").val();
                              }
                            }
                            }
                }
                },
                messages: {
                    email: {
                    remote: "E-mail já existe no sistema!"
                    }
                }
                
        });
        
        
        var options = {
        script: "ajax/json_pessoasNaoAtleta.php?",
        varname: "busca",
        json: true,
        maxresults: 35,
        callback: function (obj) {
        var pessoa; 
        $.ajax({
            url:'ajax/json_pessoa.php',
            data:{id:obj.id}
            }).done(function(retorno){
                pessoa = JSON.parse(retorno);                
                document.getElementById("id").value =pessoa.id;        
                document.getElementById("sobrenome").value =pessoa.sobrenome;
                document.getElementById("nome").value =pessoa.nome;
                document.getElementById("nomeMeio").value =pessoa.nomeMeio;
                document.getElementById("email").value =pessoa.email;
                document.getElementById("telefoneCel").value =pessoa.telCelular;
                document.getElementById("telefoneRes").value =pessoa.telResidencial;
                document.getElementById("telefoneCom").value =pessoa.telComercial;
                document.getElementById("filiacaoMae").value =pessoa.filiacaoMae;
                document.getElementById("filiacaoPai").value =pessoa.filiacaoPai;
                document.getElementById("endereco").value =pessoa.endereco;
                document.getElementById("bairro").value =pessoa.bairro;
                document.getElementById("uf").value =pessoa.cidade.uf.id;
                cidadePorUf();
                document.getElementById("cidade").value =pessoa.cidade.id;
                document.getElementById("cep").value =pessoa.cep;
            });
        
         }
    
        };
        var as = new bsn.AutoSuggest('nome', options); 
        $(".bt_belt").click(function(){
            $( ".bt_belt" ).each(function() {
              $( this ).removeClass( "btn-primary" );  
              $( this ).addClass( "btn-default" );
              $( this ).find("img").attr("src",'img/icones/belt_icon.png');
            });            
            $( this ).addClass( "btn-primary" );
            $( this ).removeClass( "btn-default" );
           $( this ).find("img").attr("src",'img/icones/belt_icon_select.png');
            
            $("#graduacao").val($(this).attr("value"));
        });
        
        
    
    $("#foto").fileinput({
        initialPreview: [
        <!-- BEGIN BLOCK_FOTO -->"{FOTO}",<!-- END BLOCK_FOTO -->
        ], overwriteInitial: true,
        maxFileSize: 2000,
        maxFilesNum: 1,
        allowedFileExtensions: ["jpg", "jpeg", "gif", "png"],
        previewClass: "bg-warning",
        allowedFileTypes: ["image"],
        showUpload: false,
        showCaption: false,
        showRemove: false,
        language: 'pt-BR'
    });
    
   
    $("#uf").change(function(){
            $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                data : {uf: $(this).val()},                
            }).done(function(msg) {
                $("#cidade").html(msg);
            });

        });
        $("#ufnaturalidade").change(function(){
            $.ajax({
                url : "ajax/cidadesPorUf.php",
                type : "POST",
                data : {uf: $(this).val()},                
            }).done(function(msg) {
                $("#naturalidade").html(msg);
            });

        });
    });
</script>