<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<div class="pull-right">
				<img src="img/icones/servicos.png" />
			</div>
			<h2>Inscrição</h2>
		</div>
		<div class="panel panel-default">
			<form role="form" method="post" action="portal_servicos-action" id="frmInscricao">
				<input type="hidden" name="especial" id="especial" value="{ESPECIAL}"/>
				<input type="hidden" name="idAssociacao" id="idAssociacao" value="{ID_ASSOCIACAO}"/>
				<input type="hidden" name="idCompeticao" id="idCompeticao" value="{ID_COMPETICAO}"/>
				<input type="hidden" name="acao" id="acao" value="inscricaof"/>
				<div class="panel-heading">
					<h4>{LABEL}</h4>
				</div>
				<div class="panel-body">
					<fieldset>
						<legend>
							Competição
						</legend>
						
						<div class="row">
							<div class="col-md-8 col-xs-8">
								<div class="form-group">
									<label for="competicao"><i class='fa'> </i><b>Competição</b></label>
									<p class="form-control-static">
										{TITULO_COMP}
									</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-4">
								<div class="form-group">
									<label for="data"><i class='fa'> </i><b>Data</b></label>
									<p class="form-control-static">
										{DATA_COMP}
									</p>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							Configurar Atletas
						</legend>
						<!-- BEGIN BLOCK_ESPECIAL -->
						<div class="row">
							<div class="col-md-12 col-xs-12">
								
								<br />
								<strong><center>Os descontos dos atletas especiais serão verificados. <br/>Após realizar a inscrição, aguarde o contato da femeju informando a atualização do boleto de pagamento.</center></strong>
								<br/><br/><br/>
								</div>
								</div>
						<!-- END BLOCK_ESPECIAL -->
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<table class="table">
									<!-- BEGIN BLOCK_ATLETAS -->
									<tbody id="linha{ID_ATLETA}">
										<tr>
											<td>
											<input type="hidden" name="atleta[]" value="{ID_ATLETA}" />
											<input type="hidden" name="classe{ID_ATLETA}" id="classe{ID_ATLETA}" value=""  />
											<input type="hidden" name="dobra1{ID_ATLETA}" id="dobra1{ID_ATLETA}" value=""  />
											<input type="hidden" name="dobra2{ID_ATLETA}" id="dobra2{ID_ATLETA}"  value=""  />
											<input type="hidden" name="dobra3{ID_ATLETA}" id="dobra3{ID_ATLETA}" value=""  />											
											<div class="form-group">
												<label>Atleta:</label>
												<a class="btn btn-xs btn-danger bt_excluir" title="Excluir" value="{ID_ATLETA}"  ><span  class="glyphicon glyphicon-trash"></span></a>
												<p class="form-control-static" id="nome{ID_ATLETA}">{ATLETA}</p>
												</div>
												 </td>
											<td>
											<div class="form-group">
												<label>Classe:</label>
												<select name="selclasse{ID_ATLETA}" class="form-control required classe" idAtleta="{ID_ATLETA}" id="selclasse{ID_ATLETA}">
													<option value=""></option>
													<!-- BEGIN BLOCK_CLA -->
													<option value="{ID_CLA}">{LABEL_CLA}</option>
													<!-- END BLOCK_CLA -->
												</select>

											</div></td>
											<td>
											<div class="form-group">
												<label>Categoria:</label>
												<select name="categoria{ID_ATLETA}" id="categoria{ID_ATLETA}" class="form-control required" idAtleta="{ID_ATLETA}">
													<option value=""></option>

												</select>
											</div></td>
											<td class="text-right">												
												<div class="form-group">
												<label>Idade em {ANO_ATUAL}: {IDADE}</label>
												<p class="form-control-static" id="datanasc{ID_ATLETA}">{DATA_NASCIMENTO_ATLETA}</p>
												</div>
												</td>
										</tr>
										<tr>
											<td style="border-top: none;">
											<div class="form-group">
												<label>Dobra 1:</label>
												<select name="seldobra1{ID_ATLETA}" class="form-control dobra" idAtleta="{ID_ATLETA}" id="seldobra1{ID_ATLETA}" valor="{DOBRA1}">
													<option value=""></option>
													<!-- BEGIN BLOCK_DOBRA1_CL -->
													<optgroup label="{LABEL_CLA}">
														<!-- BEGIN BLOCK_DOBRA1_CAT -->
														<option value="{ID_CAT}">{DESC_CAT}</option>
														<!-- END BLOCK_DOBRA1_CAT -->
													</optgroup>
													<!-- END BLOCK_DOBRA1_CL -->
												</select>
											</div></td>
											<td  style="border-top: none;">
											<div class="form-group">
												<label>Dobra 2:</label>
												<select name="seldobra2{ID_ATLETA}" class="form-control dobra" idAtleta="{ID_ATLETA}" id="seldobra2{ID_ATLETA}" valor="{DOBRA2}">
													<option value=""></option>
													<!-- BEGIN BLOCK_DOBRA2_CL -->
													<optgroup label="{LABEL_CLA}">
														<!-- BEGIN BLOCK_DOBRA2_CAT -->
														<option value="{ID_CAT}">{DESC_CAT}</option>
														<!-- END BLOCK_DOBRA2_CAT -->
													</optgroup>
													<!-- END BLOCK_DOBRA2_CL -->
												</select>
											</div></td>
											<td  style="border-top: none;">
											<div class="form-group">
												<label>Dobra 3:</label>
												<select name="seldobra3{ID_ATLETA}" class="form-control dobra" idAtleta="{ID_ATLETA}" id="seldobra3{ID_ATLETA}" valor="{DOBRA3}">
													<option value=""></option>
													<!-- BEGIN BLOCK_DOBRA3_CL -->
													<optgroup label="{LABEL_CLA}">
														<!-- BEGIN BLOCK_DOBRA3_CAT -->
														<option value="{ID_CAT}">{DESC_CAT}</option>
														<!-- END BLOCK_DOBRA3_CAT -->
													</optgroup>
													<!-- END BLOCK_DOBRA3_CL -->
												</select>
											</div></td>
											<td class="col-md-2 text-right"  style="border-top: none;" ><label>Total R$:</label>
											<input type="text" id="valor_atleta{ID_ATLETA}" name="valor_atleta{ID_ATLETA}" disabled="disabled" class="form-control text-right valorAtleta camposoma" value="{VALOR_CUSTA}"/>
											<input type="hidden" id="valor_atleta_comp{ID_ATLETA}" name="valor_atleta_comp{ID_ATLETA}" disabled="disabled" value="{VALOR_CUSTA}"/>
											<input type="hidden" id="graduacao{ID_ATLETA}" name="graduacao{ID_ATLETA}" value="{GRAD_ATLETA}"/>
											<input type="hidden" id="genero{ID_ATLETA}" name="genero{ID_ATLETA}" value="{GENERO_ATLETA}"/>
											</td>
										</tr>
									</tbody>
									<!-- END BLOCK_ATLETAS -->
									<tr>
										<td class="text-right" colspan="3"><label>Total Geral R$:</label></td>
										<td class="col-md-2 text-right">
										<div class="form-group">
											<input type="text" id="total" name="total" disabled="disabled" class="form-control text-right"/>
										</div></td>
									</tr>
								</table>
								<br/>
								<!-- BEGIN BLOCK_DESCONTO -->
								<br />
								<strong><center>Desconto de <font color="green" size="12">{PERCENT}%</font> para inscrições pagas até <font color="red" size="5">{DATA_DESCONTO}</font></center></strong>
								<!-- END BLOCK_DESCONTO -->
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>
							forma de Pagamento
						</legend>
						<div class="form-group">
							<label for="tipoPagamento"><i class='fa'> </i><b>Selecione</b></label>
							<div class="row">
								<!-- BEGIN BLOCK_TIPO_PAG -->
								<div class="col-xs-2 col-md-2 text-center">
									<div class="thumbnail">
										<img src="img/credit/{IMG_PAG}" class="img-responsive" alt="{NOME_PAG}">
										<input type="radio" class="form-control required" value="{ID_PAG}" name="tipoPagamento" {CHECKED}/>
										{NOME_PAG}
									</div>
								</div>
								<!-- END BLOCK_TIPO_PAG -->
							</div>
							<div class="row">
                                    	<div class="col-xs-12 col-md-12 text-danger"><strong>
                                    		Obs: Taxas adicionais das formas de pagamento<br />
                                    		Paypal: R$ {TAXA_PP}<br />
                                    		Boleto: R$ {TAXA_GN}</strong>
                                    	</div>
                                    </div>
						</div>
					</fieldset>
				</div>
				<div class="panel-footer text-right">
					<button class="btn btn-default btVoltar" type="button">
						<span class="glyphicon glyphicon-backward"> </span> Voltar
					</button>
					<button class="btn btn-success" type="button" id="btfinalizar">
						Finalizar
					</button>
				</div>
			</form>
		</div>

	</div>
</div>
<script>
	function somatotal() {
		var total = 0;
		$(".camposoma").each(function() {
			total = total + parseFloat($(this).val());
		});
		$("#total").val("R$ " + (total.format(2, 3, '.', ',')));

	}


	$(document).ready(function() {

		$(".valorAtleta").inputmask({
			alias : "decimal",
			groupSeparator : ".",
			autoGroup : true,
			digits : 2,
			digitsOptional : false,
			prefix : "",
			placeholder : ""
		});

		$("#total").inputmask({
			alias : "decimal",
			groupSeparator : ".",
			autoGroup : true,
			digits : 2,
			digitsOptional : false,
			prefix : "",
			placeholder : ""
		});

		$(".classe").change(function() {
			var atleta = $(this).attr("idAtleta");
			if ($(this).val() != "") {
				$.ajax({
					url : 'ajax/option_categoria_por_classe.php',
					data : {
						classe : $(this).val().split(";")[0],
						genero: $("#genero" + atleta).val()
					}
				}).done(function(retorno) {
					$("#categoria" + atleta).html(retorno);

				});
			} else {
				$("#categoria" + atleta).html('<option value=""></option>');
			}

		});

		$(".dobra").change(function() {
			var atleta = $(this).attr("idAtleta");
			var valor = parseFloat($("#valor_atleta_comp" + atleta).val());
			if ($("#seldobra1" + atleta).val() != "")
				valor += parseFloat($("#seldobra1" + atleta).attr("valor"));
			if ($("#seldobra2" + atleta).val() != "")
				valor += parseFloat($("#seldobra2" + atleta).attr("valor"));
			if ($("#seldobra3" + atleta).val() != "")
				valor += parseFloat($("#seldobra3" + atleta).attr("valor"));

			$("#valor_atleta" + atleta).val(valor.format(2, 3, ".", ","));
			somatotal();
		});

		$("#btfinalizar").click(function() {			
			
			if ($("#frmInscricao").valid()) {
				
				var mensagemErro = "";
				
				$('input[name="atleta[]"]').each(function(){				
					var data = $("#datanasc"+$(this).val()).html();

					if(data != ""){
						var idade = gregorianAge(datebrtous("01/01/"+data.substring(6,10)));
						
						//valida a classe
						var arrayClasse = $("#selclasse"+$(this).val()).val().split(';');
						var id = arrayClasse[0];
						var maximo = arrayClasse[1];
						var minimo = arrayClasse[2];
						if(idade < minimo || idade > maximo){	
								mensagemErro = $("#nome"+$(this).val()).html()+" - Idade não compatível com a classe selecionada!";
								
						}	
						$("#classe"+$(this).val()).val(id);
						
						//valida a dobra 1
						if($("#seldobra1"+$(this).val()).val() != ""){
						var arrayClasse = $("#seldobra1"+$(this).val()).val().split(';');
						var id = arrayClasse[0];
						var maximo = arrayClasse[1];
						var minimo = arrayClasse[2];
						if(idade < minimo || idade > maximo){	
								mensagemErro = $("#nome"+$(this).val()).html()+" - Idade não compatível com a dobra 1 selecionada!";
								
						}
						
						$("#dobra1"+$(this).val()).val(id);
							
						}
						
						//valida a dobra 2
						if($("#seldobra2"+$(this).val()).val() != ""){
						var arrayClasse = $("#seldobra2"+$(this).val()).val().split(';');
						var id = arrayClasse[0];
						var maximo = arrayClasse[1];
						var minimo = arrayClasse[2];
						if(idade < minimo || idade > maximo){	
								mensagemErro = $("#nome"+$(this).val()).html()+" - Idade não compatível com a dobra 2 selecionada!";
								
						}	
						
						$("#dobra2"+$(this).val()).val(id);
						}
						
						//valida a dobra 3
						if($("#seldobra3"+$(this).val()).val() != ""){
						var arrayClasse = $("#seldobra3"+$(this).val()).val().split(';');
						var id = arrayClasse[0];
						var maximo = arrayClasse[1];
						var minimo = arrayClasse[2];
						if(idade < minimo || idade > maximo){	
								mensagemErro = $("#nome"+$(this).val()).html()+" - Idade não compatível com a dobra 3 selecionada!";
								
						}	
						$("#dobra3"+$(this).val()).val(id);
						}				
						
					}
					
				});
				
				if(mensagemErro != ""){
					alert(mensagemErro);
					return false;
				}
				
				if (confirm("Confirma a realização da inscrição dos atletas selecionados?")) {
					$("#frmInscricao").submit();
				}
			}

		});
		$(".bt_excluir").click(function() {
			$("#linha" + $(this).attr("value")).remove();
			somatotal();
		});

		$("#frmInscricao").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
				$(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
				$(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
				$(element).parents('.form-group').children("label").children("i").addClass("fa-check");
			}
		});
		somatotal();
	});

</script>
