<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/servicos.png" />
            </div>
            <h2>Inscrição</h2>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h4>{LABEL}</h4>
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>
                        Competição
                    </legend>
                    <div class="row">
                        <div class="col-md-8 col-xs-8">
                            <div class="form-group">
                                <label for="evento"><i class='fa'> </i><b>Evento</b></label>
                                <p class="form-control-static">
                                    {TITULO_COMP}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <div class="form-group">
                                <label for="data"><i class='fa'> </i><b>Data</b></label>
                                <p class="form-control-static">
                                    {DATA_COMP}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        Adicionar Atletas
                    </legend>
                    <div class="panel panel-default">
                        <form role="form" method="post" action="#" id="frmAtleta" name="frmAtleta">
                            <input type="hidden" name="idAtleta" id="idAtleta" class="" value=""/>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="nome"><i class='fa'> </i><b>Nome Completo</b></label>
                                            <input type="text" name="nome" id="nome" class="form-control required"/>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="email"><i class='fa'> </i><b>E-mail</b></label>
                                            <input type="text" name="email" id="email" class="form-control email required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="documento"><i class='fa'> </i><b>Documento</b></label>
                                            <input type="text" name="documento" id="documento" class="form-control required"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="telefone"><i class='fa'> </i><b>Telefone</b></label>
                                            <input type="text" name="telefone" id="telefone" class="form-control required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="graduacao"><i class='fa'> </i><b>Graduação</b></label>
                                            <select id="graduacao" name="graduacao" class="form-control required">
                                                <option value="">Selecione</option>
                                                <!-- BEGIN BLOCK_GRA -->
                                                <option value="{ID_GRA}">{DESC_GRA}</option>
                                                <!-- END BLOCK_GRA -->
                                            </select>
                                        </div>
                                    </div>                               
                                 </div>
                                
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="valor"><i class='fa'> </i><b>Valor</b></label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    R$
                                                </div>
                                                <input type="text" disabled="disabled" class="form-control disabled" name="valor" id="valor" value="{VALOR}"/>
                                                <input type="hidden" id="valorReal" name="valorReal" value="{VALOR}"/>
                                                <input type="hidden" id="valorComp" name="valorComp" value="{VALOR}"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">                              
                                <button type="button" class="btn btn-success" id="btAdicionar">
                                    Adicionar
                                </button>
                            </div>
                        </form>
                    </div>
                    <table class="table table-condensed table-striped" id="tblList"></table>
                    <div class="row">
                        <div class="col-md-8 text-right"></div>
                        <div class="col-md-4 text-right">
                            <input type="text" disabled="disabled" class="form-control disabled text-right" name="total" id="total" value="R$ 0,00"/>
                        </div>

                    </div>
                </fieldset>
                <form role="form" method="post" action="portal_servicos-actionOpen" id="frmInscricao" class="form">
                    <input type="hidden" name="acao" id="acao" value="inscricaoa"/>
                    <input type="hidden" name="itens" id="itens" value=""/>
                    <input type="hidden" name="idCompeticao" id="idCompeticao" value="{ID_COMPETICAO}"/>
                    <fieldset>
                        <legend>
                            forma de Pagamento
                        </legend>
                        <div class="form-group">
                            <label for="tipoPagamento"><i class='fa'> </i><b>Selecione</b></label>
                            <div class="row">
                                <!-- BEGIN BLOCK_TIPO_PAG -->
                                <div class="col-xs-2 col-md-2 text-center">
                                    <div class="thumbnail">
                                        <img src="img/credit/{IMG_PAG}" class="img-responsive" alt="{NOME_PAG}">
                                        <input type="radio" class="form-control required" value="{ID_PAG}" name="tipoPagamento" {CHECKED}/>
                                        {NOME_PAG}
                                    </div>
                                </div>
                                <!-- END BLOCK_TIPO_PAG -->
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-default btVoltar" type="button">
                    <span class="glyphicon glyphicon-backward"> </span> Voltar
                </button>
                <button class="btn btn-primary" type="button" id="btAvancar">
                    Avançar <span class="glyphicon glyphicon-forward"> </span>
                </button>

            </div>

        </div>

    </div>

</div>

<script src="js/plugins/bsnAutoSuggest/bsn.AutoSuggest_2.1.3_comp.js"></script>
<link href="css/bsnAutoSuggest/autosuggest_inquisitor.css" rel="stylesheet" type="text/css" />
<script>
	function somatotal() {
		var total = 0;
		for (var i in atletas) {
			var atl = JSON.parse(atletas[i]);
			total = total + eval(parseFloat(atl.valor));
		}
		$("#total").val("R$ " + (total.format(2, 3, '.', ',')));

	}

	var atletas = [];
	var selected_index = -1;
	function LimpaCampos() {
	    $("#idAtleta").val("");
		$("#nome").val("");
		$("#email").val("");
		$("#documento").val("");
		$("#telefone").val("");
		$("#valor").val($("#valorComp").val());
		$("#valorReal").val($("#valorComp").val());
		$("#graduacao").val("");
		
	}

	function AddAtleta() {
		var atleta = JSON.stringify({
		    id: $("#idAtleta").val(),
			nome : $("#nome").val(),
			email : $("#email").val(),
			documento : $("#documento").val(),
			telefone : $("#telefone").val(),
			graduacao : $("#graduacao").val(),
			valor : $("#valorReal").val(),
			nomeGraduacao : $("#graduacao").find('option:selected').text(),
			
		});
		atletas.push(atleta);
	}

	function Delete() {
		atletas.splice(selected_index, 1);

	}

	function List() {
		$("#tblList").html("");
		$("#tblList").html("<thead>" + "   <tr>" + "   <th></th>" + "   <th>Nome</th>" + "   <th>Graduação</th>" + "   <th>Valor</th>" + "   </tr>" + "</thead>" + "<tbody>" + "</tbody>");
		for (var i in atletas) {
			var atl = JSON.parse(atletas[i]);
			$("#tblList tbody").append("<tr>" + "  <td><button type='button' alt='Delete" + i + "' class='btnDelete btn btn-danger'><span class='glyphicon glyphicon-trash'> </span></button> </td>" + "  <td>" + atl.nome + "</td>" + "  <td>" + atl.nomeGraduacao  + "</td>" + "  <td>R$ " + parseFloat(atl.valor).format(2, 3, '.', ',') + "</td>" + "</tr>");
		}
	}


	$(document).on('click', '.btnDelete', function() {
		selected_index = parseInt($(this).attr("alt").replace("Delete", ""));
		Delete();
		List();
		somatotal();
	});

	$(document).ready(function() {

		var options = {
			script : "ajax/json_atletas.php?associacao={IDS_ASSOCIACAO}&",
			varname : "busca",
			json : true,
			noresults : "Nenhum atleta encontrado",
			maxresults : 5,
			callback : function(obj) {
				var atleta;
				$.ajax({
					url : 'ajax/json_atletaPorId.php',
					data : {
						id : obj.id
					}
				}).done(function(retorno) {
					atleta = JSON.parse(retorno);
                    document.getElementById("nome").value = atleta.pessoa.nome+" "+atleta.pessoa.nomeMeio+" "+atleta.pessoa.sobrenome;
                    document.getElementById("email").value = atleta.pessoa.email;
                    document.getElementById("documento").value = atleta.pessoa.rg;
                    document.getElementById("telefone").value = atleta.pessoa.telCelular;		
					document.getElementById("idAtleta").value = atleta.pessoa.id;
					document.getElementById("graduacao").value = atleta.graduacao.id; 			
				});

			}
		};
		var as = new bsn.AutoSuggest('nome', options);

		$("#telefone").inputmask({
			mask : ["+99 99 9999-9999", "+99 99 99999-9999"]
		});

		$("#valor").inputmask({
			alias : "decimal",
			groupSeparator : ".",
			autoGroup : true,
			digits : 2,
			digitsOptional : false,
			prefix : "",
			placeholder : ""
		});
		$(".dobra").click(function() {
			var valor = parseFloat($("#valorComp").val());

			$("input:checkbox.dobra").each(function() {
				if ($(this).prop("checked")) {
					valor = valor + parseFloat($(this).attr("valor"));
				}

			});
			$("#valor").val(valor.format(2,3,".",","));
			$("#valorReal").val(valor.format(2,3,".",","));
		});

		$("#classe").change(function() {

			if ($(this).val() != "") {
				$.ajax({
					url : 'ajax/option_categoria_por_classe.php',
					data : {
						classe : $(this).val()
					}
				}).done(function(retorno) {
					$("#categoria").html(retorno);

				});
			} else {

			}

		});

		$("#btAdicionar").click(function() {
			if ($("#frmAtleta").valid()) {
				AddAtleta();
				List();
				LimpaCampos();
				somatotal();
			}
		});

		$("#btAvancar").click(function() {
			if (atletas.length > 0) {
				if (confirm("Confirma a inscrição no evento?")) {
					var strjson = "[";
					for (var i in atletas) {
						var atl = JSON.parse(atletas[i]);
						strjson = strjson + JSON.stringify(atl) + ',';
					}
					strjson = strjson + ']';
					$("#itens").val(strjson);
					$("#frmInscricao").submit();
				}
			} else {
				alert("Você deve adicionar um ou mais atletas!");
			}

		});

		$("#frmAtleta").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
				$(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
				$(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
				$(element).parents('.form-group').children("label").children("i").addClass("fa-check");
			},
			rules : {
				dobra1 : {
					required : function(element) {
						return $("#dobra2").prop("checked");
					}
				},
				dobra2 : {
					required : function(element) {
						return $("#dobra3").prop("checked");
					}
				}
			},
			messages : {
				dobra1 : {
					required : "Para selecionar a dobra 2 você deve selecionar a dobra 1."
				},
				dobra2 : {
					required : "Para selecionar a dobra 3 você deve selecionar a dobra 2."
				}
			}
		});
		
		$("#nome").change(function(){
            $("#idAtleta").val("");
        });

	});

</script>