<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/servicos.png" />
            </div>
            <h2>Inscrição</h2>
        </div>
        <div class="panel panel-default">
            <form role="form" method="post" action="portal_servicos-action" id="frmInscricao">
                <input type="hidden" name="idAssociacao" id="idAssociacao" value="{ID_ASSOCIACAO}"/>
                <input type="hidden" name="idCompeticao" id="idCompeticao" value="{ID_COMPETICAO}"/>
                <input type="hidden" name="acao" id="acao" value="inscricaof"/>
                <div class="panel-heading">
                    <h4>{LABEL}</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>
                            Competição
                        </legend>
                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <div class="form-group">
                                    <label for="competicao"><i class='fa'> </i><b>Competição</b></label>
                                    <p class="form-control-static">{TITULO_COMP}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <div class="form-group">
                                    <label for="data"><i class='fa'> </i><b>Data</b></label>
                                    <p class="form-control-static">{DATA_COMP}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>
                            Configurar Atletas
                        </legend>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <table class="table">
                                    <tr>
                                        <th>Atleta</th>
                                        <th>Classe</th>
                                        <th>Categoria</th>
                                        <th>Dobra1</th>
                                        <th>Dobra2</th>
                                        <th>Dobra3</th>
                                        <th>Valor R$</th>
                                    </tr>
                                    <!-- BEGIN BLOCK_ATLETAS -->
                                    <tr>
                                        <td>
                                        <input type="hidden" name="atleta[]" value="{ID_ATLETA}" class="form-control" />
                                        {ATLETA} </td>
                                        <td>
                                        <div class="form-group">
                                            <select name="classe{ID_ATLETA}" class="form-control required classe" idAtleta="{ID_ATLETA}" id="classe{ID_ATLETA}">
                                                <option value=""></option>
                                                <!-- BEGIN BLOCK_CLA -->
                                                <option value="{ID_CLA}">{LABEL_CLA}</option>
                                                <!-- END BLOCK_CLA -->
                                            </select>
                                            
                                        </div></td>
                                        <td>
                                        <div class="form-group">
                                            <select name="categoria{ID_ATLETA}" id="categoria{ID_ATLETA}" class="form-control required" idAtleta="{ID_ATLETA}">
                                                <option value=""></option>
                                                
                                            </select>
                                        </div></td>
                                        <td class="col-md-1"  class="text-center">
                                        <div class="form-group">
                                            <input type="checkbox" name="dobra1{ID_ATLETA}" id="dobra1{ID_ATLETA}" value="1" class="form-control dobra" idAtleta="{ID_ATLETA}" valor="{DOBRA1}"  />
                                        </div></td>
                                        <td class="col-md-1"  class="text-center">
                                        <div class="form-group">
                                            <input type="checkbox" name="dobra2{ID_ATLETA}" id="dobra2{ID_ATLETA}" value="1" class="form-control dobra" idAtleta="{ID_ATLETA}" valor="{DOBRA2}"  />
                                        </div></td>
                                        <td class="col-md-1"  class="text-center">
                                        <div class="form-group">
                                            <input type="checkbox" name="dobra3{ID_ATLETA}" id="dobra3{ID_ATLETA}" value="1" class="form-control dobra" idAtleta="{ID_ATLETA}" valor="{DOBRA3}"  />
                                        </div></td>
                                        <td class="col-md-2"  class="text-right">
                                        <input type="text" id="valor_atleta{ID_ATLETA}" name="valor_atleta{ID_ATLETA}" disabled="disabled" class="form-control text-right valorAtleta camposoma" value="{VALOR_CUSTA}"/>
                                        <input type="hidden" id="valor_atleta_comp{ID_ATLETA}" name="valor_atleta_comp{ID_ATLETA}" disabled="disabled" value="{VALOR_CUSTA}"/>
                                        <input type="hidden" id="graduacao{ID_ATLETA}" name="graduacao{ID_ATLETA}" value="{GRAD_ATLETA}"/>
                                        </td>
                                    </tr>
                                    <!-- END BLOCK_ATLETAS -->
                                    <tr>
                                        <td class="text-right" colspan="6"> Total R$:</td>
                                        <td class="col-md-2"  class="text-right">
                                        <input type="text" id="total" name="total" disabled="disabled" class="form-control text-right"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>forma de Pagamento</legend>
                        <div class="form-group">
                                    <label for="tipoPagamento"><i class='fa'> </i><b>Selecione</b></label>
                                    <div class="row">
                                        <div class="col-xs-2 col-md-2 text-center">
                                            <div class="thumbnail">
                                                <img src="img/credit/boleto-brb.png" class="img-responsive" alt="boleto BRB">
                                                <input type="radio" class="form-control required" value="1" name="tipoPagamento" checked/>
                                                Boleto BRB
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2 text-center">
                                            <div class="thumbnail">
                                                <img src="img/credit/boleto-femeju.png" class="img-responsive" alt="boleto Femeju">
                                                <input type="radio" class="form-control required" value="2" name="tipoPagamento"/>
                                                Boleto Femeju
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </fieldset>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-default btVoltar" type="button">
                        <span class="glyphicon glyphicon-backward"> </span> Voltar
                    </button>
                    <button class="btn btn-success" type="button" id="btfinalizar">
                        Finalizar
                    </button>
                </div>
            </form>
        </div>

        
    </div>
</div>
<script>
	function somatotal() {
		var total = 0;
		$(".camposoma").each(function() {
			total = total + parseFloat($(this).val());
		});
		$("#total").val(total);

	}


	$(document).ready(function() {
	    
	    
	    $(".valorAtleta").inputmask({
            alias : "decimal",
            groupSeparator : ".",
            autoGroup : true,
            digits : 2,
            digitsOptional : false,
            prefix : "",
            placeholder : "0"
        }); 
	    
	    $("#total").inputmask({
            alias : "decimal",
            groupSeparator : ".",
            autoGroup : true,
            digits : 2,
            digitsOptional : false,
            prefix : "",
            placeholder : "0"
        }); 
	    
	    $(".classe").change(function() {
            var atleta = $(this).attr("idAtleta");
            if ($(this).val() != "") {
                $.ajax({
                    url : 'ajax/option_categoria_por_classe.php',
                    data : {                        
                        classe : $(this).val()
                    }
                }).done(function(retorno) {
                    $("#categoria"+atleta).html(retorno);
                    
                });
            }else{
                $("#categoria"+atleta).html('<option value=""></option>');
            }
             
        });
	    
	    $(".dobra").click(function() {
            var atleta = $(this).attr("idAtleta");
            var valor = parseFloat($("#valor_atleta_comp"+atleta).val());
            if ($("#dobra1"+atleta).prop("checked")) 
                valor += parseFloat($("#dobra1"+atleta).attr("valor"));
            if ($("#dobra2"+atleta).prop("checked")) 
                valor += parseFloat($("#dobra2"+atleta).attr("valor"));    
            if ($("#dobra3"+atleta).prop("checked")) 
                valor += parseFloat($("#dobra3"+atleta).attr("valor"));
                
            $("#valor_atleta"+atleta).val(valor);
            somatotal();
        });
	    
	    
	    $("#btfinalizar").click(function(){
	        if($("#frmInscricao").valid()){
	            if(confirm("Confirma a realização da inscrição dos atletas selecionados?")){
	                 $("#frmInscricao").submit();
	            }
	        }
	        
	    });
		
				

		$("#frmInscricao").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
				$(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
				$(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
				$(element).parents('.form-group').children("label").children("i").addClass("fa-check");
			}
		});
		somatotal();
	});

</script>
