<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/galeria.png" />
            </div>
            <h2>Galeria</h2>
        </div>
        </div>
</div>  
  <div id="galeria">
       <ul class="row">
           <!-- BEGIN BLOCK_ITEM -->
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          	<!-- BEGIN BLOCK_IMG -->
      			<img class="img-responsive" width="100%" src="img/galeria/{IMAGEM}" alt="{IMAGEM}"/>
      		<!-- END BLOCK_IMG -->
      		<!-- BEGIN BLOCK_VIDEO -->
      			<video width="100%">
  						<source src="img/galeria/{IMAGEM}" type="video/mp4">
  				</video>
      		<!-- END BLOCK_VIDEO -->                            
          </li>          
          <!-- END BLOCK_ITEM -->      
     </ul>     
</div>        


<div class="modal fade" id="modalImagem" tabindex="-1" role="dialog" aria-labelledby="modalImagemLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
          $(document).ready(function(){
          	$('li video').on('click',function(){
                var src = $(this).children("source").attr('src');
                var img = '<video width="100%" controls><source src="'+src+'" type="video/mp4"></video>';
                
                
                  //Start of new code
                var index = $(this).parent('li').index();
                var html = '';
                html += img;
               
                
                
                $('#modalImagem').modal();
                $('#modalImagem').on('shown.bs.modal', function(){
                    $('#modalImagem .modal-body').html(html);
                      //this will hide or show the right links:
                    $('a.controls').trigger('click');
                });
                $('#modalImagem').on('hidden.bs.modal', function(){
                    $('#modalImagem .modal-body').html('');
                });
           });
          	
          	
           $('li img').on('click',function(){
                var src = $(this).attr('src');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                
                
                  //Start of new code
                var index = $(this).parent('li').index();
                var html = '';
                html += img;
                html += '<div style="height:25px;clear:both;display:block;">';
                html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
                html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
                html += '</div>';
                //End of new code
                
                
                $('#modalImagem').modal();
                $('#modalImagem').on('shown.bs.modal', function(){
                    $('#modalImagem .modal-body').html(html);
                      //this will hide or show the right links:
                    $('a.controls').trigger('click');
                });
                $('#modalImagem').on('hidden.bs.modal', function(){
                    $('#modalImagem .modal-body').html('');
                });
           });
           
           
           
        });
        $(document).on('click', 'a.controls', function(){
           //this is where we add our logic
           var index = $(this).attr('href');
            var src = $('ul.row li:nth-child('+ index +') img').attr('src');
            $('.modal-body img').attr('src', src);
            
            var newPrevIndex = parseInt(index) - 1;
var newNextIndex = parseInt(newPrevIndex) + 2;
 
if($(this).hasClass('previous')){
    $(this).attr('href', newPrevIndex);
    $('a.next').attr('href', newNextIndex);
}else{
    $(this).attr('href', newNextIndex);
    $('a.previous').attr('href', newPrevIndex);
}
            
            var total = $('ul.row li').length + 1;
//hide next button
if(total === newNextIndex){
    $('a.next').hide();
}else{
    $('a.next').show();
}
//hide previous button
if(newPrevIndex === 0){
    $('a.previous').hide();
}else{
    $('a.previous').show();
}
           return false;
        });
    </script>