<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/galeria.png" />
                            </div>
            <h2>Galeria {ANO}</h2>
        </div>
        
        <div id="mod-noticias">
        <!-- BEGIN BLOCK_POST -->
        
<div class="row">
    <div class="col-sm-12">
        <div style="margin-bottom:0px; padding-top:20px; border-top:1px solid #E3E3E8;min-height:120px;" class=" format-standard">
            
            <a class="post-format-s" title="Imagem" href="portal_galeria-detalhe?id={ID_HASH}"><span> </span>
                <img alt="Imagem" src="img/galeria/{IMAGEM}" class="alignleft"></a>
            
            <header class="entry-header">
                <h2 class="post-title-small"><a title="ver" href="portal_galeria-detalhe?id={ID_HASH}">{post_titulo}</a></h2>
            </header>
            <div class="entry-info">
                                {post_data}  | <a title="ver" href="portal_galeria-detalhe?id={ID_HASH}">Entrar</a>

            </div>

        </div>
</div>
</div>
<!-- END BLOCK_POST -->     

  </div>
        
        
        
         
        
         <nav>
            <ul class="pager">
                <li class="previous {DISABLEL}">
                    <a href="#" class="paginar" value="{PAGINA_ANTERIOR}"><span aria-hidden="true">&larr;</span> Recentes</a>
                </li>
               <li class="center disabled">
                    <a href="#">Página {PAGINA}</a>
                </li>
               <!-- BEGIN BLOCK_ANO -->
                <li class="center">
                    <a href="#" class="anualizar" value="{ANO_V}">{ANO_V}</a>
                </li>
                <!-- END BLOCK_ANO -->
                <li class="next {DISABLER}">
                    <a href="#" class="paginar" value="{PROXIMA_PAGINA}">Anteriores <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>                    
        
     </div>
 </div>
<input type="hidden" value="{PAGINA}" id="pagina" name="pagina"/>
<input type="hidden" value="{ANO}" id="ano" name="ano"/>
<script>

    function pesquisar(){
            $.ajax({
                url : "ajax/portal_galeria_paginar.php",
                type : "POST",
                data : {pagina:$("#pagina").val(),ano:$("#ano").val()},
                beforeSend: function( ) {
                    $('#contentPortal').html('{LOADING}');
                },
            }).done(function(msg) {
                $("#contentPortal").html(msg);
            });

        }

    $(document).ready(function() {
        {EXECUTA_PESQUISA}        
        $(".paginar").click(function() {
            $("#pagina").val($(this).attr("value"));
            pesquisar();
        });
        $(".anualizar").click(function() {
            $("#pagina").val("1");
            $("#ano").val($(this).attr("value"));
            pesquisar();
        });
    }); 
</script>