<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/galeria.png" />
                            </div>
            <h2>Galeria</h2>
        </div>
        <div class="panel panel-default">         
          <div class="panel-body">               
            <div class="row">
            <div class="col-lg-12">
                 <div class="col-sm-12" id="post">               
                <!-- BEGIN BLOCK_GALERIA -->
                <div class="divisao">
                
                </div>
                <!-- END BLOCK_GALERIA -->                
           </div>
                 <nav>
            <ul class="pager">
                <li class="previous {DISABLEL}">
                    <a href="#" class="paginar" value="{PAGINA_ANTERIOR}"><span aria-hidden="true">&larr;</span> Recentes</a>
                </li>
               <li class="center disabled">
                    <a href="#">Página {PAGINA}</a>
                </li>
               <!-- BEGIN BLOCK_ANO -->
                <li class="center">
                    <a href="#" class="anualizar" value="{ANO_V}">{ANO_V}</a>
                </li>
                <!-- END BLOCK_ANO -->
                <li class="next {DISABLER}">
                    <a href="#" class="paginar" value="{PROXIMA_PAGINA}">Anteriores <span aria-hidden="true">&rarr;</span></a>
                </li>
            </ul>
        </nav>         
                
            </div>
          </div>
        </div>
      </div>
 </div>     
 </div> 

