<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/servicos.png" />
            </div>
            <h2>Anuidade de Atletas</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="post" action="portal_servicos-anuidadeB" id="frmEditAtleta">
                    <input type="hidden" name="associacao" id="associacao" value="{ID_ASSOCIACAO}"/>
                    <input type="hidden" name="idAssociacaoHash" id="idAssociacaoHash" value="{ID_ASSOCIACAO_HASH}"/>                    
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{LABEL}</h3>
                        </div>
                        <div class="box-body">
                            <fieldset>
                                <legend>
                                    Associação
                                </legend>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="nomeAssociacao"><i class='fa'> </i><b>Nome da Associação</b></label>
                                            <input type="text" class="form-control" value="{NOME_ASSOCIACAO}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12 text-right">
                                        <img class="img-circle img-responsive right-side" src="img/associacoes/{LOGO_ASSOCIACAO}" style="width: 30%"/>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>
                                    Ano de Referência
                                </legend>
                                <div class="row">
                                    <div class="col-md-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="nome"><i class='fa'> </i><b>Ano</b></label>
                                            <select name="ano" id="ano" class="form-control required">
                                                <option value="">Selecione</option>
                                                <!-- BEGIN BLOCK_ANO -->
                                                <option value="{ID_ANO}">{LABEL_ANO}</option>
                                                <!-- END BLOCK_ANO -->
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>
                                    Atletas
                                </legend>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="atleta"><i class='fa'> </i><b>Atleta</b></label>
                                            <Select name="atleta[]" id="atleta" class="form-control" multiple="multiple"></Select>
                                        </div>
                                        <div class="checkbox">
                                               <label>
                                                <input type="checkbox" value="1" name="todos" id="todos" />Todos
                                                
                                                </label>
                                            </div>
                                    </div>
                                    
                                </div>
                            </fieldset>

                        </div>

                        <div class="panel-footer text-right">
                            <button class="btn btn-default btVoltar" type="button">
                                <span class="glyphicon glyphicon-backward"> Voltar
                            </button>
                            <button class="btn btn-primary" type="submit" id="btPesquisar">
                                Avançar <span class="glyphicon glyphicon-forward">
                            </button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function() {
        
        $("#ano").change(function() {
            
                $.ajax({
                    url : 'ajax/option_atletas_por_associacao.php',
                    data : {
                        associacao : $("#associacao").val(),
                        ano: $(this).val()
                    }
                }).done(function(retorno) {
                    $("#atleta").html(retorno);
                });
            

        });
        
		$("#frmEditAtleta").validate({
			errorClass : "help-inline",
			errorElement : "div",
			highlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').addClass('has-error');
				$(element).parents('.form-group').children("label").children("i").addClass("fa-times-circle-o");
			},
			unhighlight : function(element, errorClass, validClass) {
				$(element).parents('.form-group').removeClass('has-error');
				$(element).parents('.form-group').addClass('has-success');
				$(element).parents('.form-group').children("label").children("i").removeClass("fa-times-circle-o");
				$(element).parents('.form-group').children("label").children("i").addClass("fa-check");
			},
			rules : {
                "atleta[]" : {
                    required : function() {
                        return !$("#todos").prop('checked');
                    }
                }
            }
		});

	}); 
</script>