<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/servicos.png" />
            </div>
            <h2>Competições em Andamento</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                            <h4 class="box-title">{LABEL}</h4>
                        </div>
            
            <div class="panel-body">
                    <input type="hidden" name="associacao" id="associacao" value="{ID_ASSOCIACAO}"/>
                    <input type="hidden" name="idAssociacaoHash" id="idAssociacaoHash" value="{ID_ASSOCIACAO_HASH}"/>                    
                    
                            <div class="list-group">
  <a href="#" class="list-group-item active">
    Inscrições abertas
  </a>
  <!-- BEGIN BLOCK_COMP -->
    <a href="portal_servicos-{CONTROLE}?idComp={ID_COMPETICAO}&idAssoc={ID_ASSOCIACAO_HASH}" class="list-group-item">
      <span class="badge">{DATA}</span>
      <h4>{TITULO}</h4>
      <p>{DESCRICAO}</p>
      </a>
      <!-- END BLOCK_COMP -->
</div> 

                        </div>

                       
                    </div>

                
            </div>
        </div>

<script>
	$(document).ready(function() {
        
        $("#ano").change(function() {
            
                $.ajax({
                    url : 'ajax/option_atletas_por_associacao.php',
                    data : {
                        associacao : $("#associacao").val(),
                        ano: $(this).val()
                    }
                }).done(function(retorno) {
                    $("#atleta").html(retorno);
                });
            

        });
        
		

	}); 
</script>