<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/servicos.png" />
                            </div>
            <h2>Serviços</h2>
        </div>
        <div class="panel panel-default">         
          <div class="panel-body">               
            <div class="list-group">
  <a href="#" class="list-group-item active">
    Menu
  </a>
    <a href="portal_servicos-selecionaAssociacao?serv=gerenciarAtletas" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Gerenciar Atletas</a>
   <a href="portal_servicos-selecionaAssociacao?serv=anuidade" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Anuidade</a>
   <a href="portal_servicos-selecionaAssociacao?serv=evento" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Inscrições de Eventos Fechados</a>
   <a href="portal_servicos-inscricoes" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Inscrições de Eventos Abertos</a>   
      <a href="portal_servicos-meuspagamentos" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Meus Pagamentos</a>
   <a href="portal_servicos-selecionaAssociacao?serv=gerenciarAtletas" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Imprimir Carteirinha</a>
      <a href="portal_servicos-relatorios" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Relatórios</a>
    <a href="portal_servicos-logoff" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      Sair</a>
</div>       
            
          </div>
        </div>
        
       
        
    </div>
</div>