<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/servicos.png" />
                            </div>
            <h2>Serviços</h2>
        </div>
        <div class="panel panel-default">         
          <div class="panel-body">               
            <div class="list-group">
  <a href="#" class="list-group-item active">
    Selecione a Associação
  </a>
  <!-- BEGIN BLOCK_ASSOCIACAO -->
    <a href="portal_servicos-{SERVICO}?associacao={ID_RASH}" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right"></span>
      {NOME_ASSOCIACAO}</a>
  <!-- END BLOCK_ASSOCIACAO -->   
</div>       
            
          </div>
        </div>
        
       
        
    </div>
</div>