
<div class="row">
    <div class="col-lg-12">
         
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icon.png" />
            </div>
            <h2>{categoria}</h2>
        </div>
        <div class="etiqueta">    
        <small class="pull-right">Brasília, {data}</small>
        <h3>{titulo}</h3>        
        <p>{mensagem}</p>
        <div class="row">
            <div class="col-lg-12">
                <!-- BEGIN  BLOCK_IMG -->
                <p class="text-center">
                   <img src="img/{pasta}/{imagem}" alt="..."  width="50%"/>
                    </p>
                <!-- END  BLOCK_IMG -->
                <p> {texto}</p>
                <p>
                    <a type="button" class="btn btn-default btn-xs" href="portal_diretoria-posts?id={ID_HASH}">Voltar</a>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
