<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                                <img src="img/icones/comunicados.png" />
                            </div>
            <h2>Diretorias</h2>
        </div>
        
         <div class="row">            
           <div class="col-sm-12" id="post">               
                <!-- BEGIN BLOCK_DIRETORIA -->
                <div class="divisao">
                <div class="etiqueta">                    
                        <h5>{NOME}</h5> 
                        <p><a class="btn btn-default" href='portal_diretoria-posts?id={ID_HASH}'>Visualizar</a></p>
                    
                </div>
                </div>
                <!-- END BLOCK_DIRETORIA -->                
           </div>
        </div>
     </div>
 </div>
