<script src="js/plugins/bsnAutoSuggest/bsn.AutoSuggest_2.1.3_comp.js"></script>
<link href="css/bsnAutoSuggest/autosuggest_inquisitor.css" rel="stylesheet" type="text/css" />
<form role="form" method="post" action="admin_atleta-action" id="frmEditAtleta" enctype="multipart/form-data" autocomplete="off">
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title">Formulário de Cadastro</h4>
        </div>
        <div class="box-body">           
            <fieldset><legend>Dados Pessoais</legend>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="campo" >
                        <label for="nome"><i class='fa'></i><b>Nome</b></label>                        
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="sobrenome"><i class='fa'></i><b>Sobre Nome</b></label>
                        
                    </div>
                </div>               
            </div>
            <div class="row">            	 
            	<div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="nacionalidade"><i class='fa'></i><b>Nome do Pai</b></label>
                        
                    </div>
                </div>
            
            	<div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="nacionalidade"><i class='fa'></i><b>Nome da Mãe</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="sobrenome"><i class='fa'></i><b>Apelido</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="nacionalidade"><i class='fa'></i><b>Nacionalidade</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                     <label for="ufnaturalidade"><i class='fa'></i><b>UF Naturalidade</b></label><br/>   
                      
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="naturalidade"><i class='fa'></i><b>Naturalidade </b></label>
                        
                    </div>
                </div>
            </div>
            <div class="row">            	
                <div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="email"><i class='fa'></i><b>E-mail</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="dataNascimento"><i class='fa'></i><b>Data de Nascimento</b></label>
                       
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="sexo"><i class='fa'></i><b>Sexo</b></label><br/>
                       
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="telefoneRes"><i class='fa'></i><b>Telefone Residencial</b></label>
                       
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="telefoneCel"><i class='fa'></i><b>Telefone Celular</b></label>
                       
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="telefoneCom"><i class='fa'></i><b>Telefone Comercial</b></label>
                      
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-md-6 col-xs-6">
                     <div class="campo">
                        <label for="webSite"><i class='fa'></i><b>Web Site</b></label><BR>
                        
                    </div>
                </div>  
                <div class="col-md-6 col-xs-6">
                     <div class="campo">
                        <label for="midiaSocial"><i class='fa'></i><b>Mídia Social</b></label><BR>
                       
                    </div>
                </div>              
            </div>
            <div class="row">                
                <div class="col-md-6 col-xs-6">
                     <div class="campo2">
                        <label for="Foto"><i class='fa'></i><b>Foto</b></label><BR>
                      
                    </div>
                </div>  
                <div class="col-md-6 col-xs-6">
                     <div class="campo2">
                        <label for="vacinas"><i class='fa'></i><b>Vacinas</b></label><BR>
                       
                    </div>
                </div>              
            </div>  
            </fieldset>
            <fieldset>
            	<legend>Documentos</legend>
            	<div class="row">   
            	 <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="cpf"><i class='fa'></i><b>CPF</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="rg"><i class='fa'></i><b>RG</b></label>
                       
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="rgOrgaoExpedidor"><i class='fa'></i><b>Orgão Espedidor</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="rgDataExp"><i class='fa'></i><b>Data Expedição</b></label>
                        
                    </div>
                </div>
                </div>
                <div class="row">   
            	 <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="passaporte"><i class='fa'></i><b>Passaporte</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="passaporteDataVal"><i class='fa'></i><b>Data Validade</b></label>
                        
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="passaporteOrgao"><i class='fa'></i><b>Orgão Espedidor</b></label>
                       
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="campo">
                        <label for="passaporteDataExp"><i class='fa'></i><b>Data Expedição</b></label>
                       
                    </div>
                </div>
                </div>
            </fieldset>    
            <fieldset><legend>Endereço</legend>
                <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="endereco"><i class='fa'></i><b>Logradouro</b></label>
                      
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="bairro"><i class='fa'></i><b>Bairro</b></label>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="campo">
                        <label for="uf"><i class='fa'></i><b>Estado</b></label>
                         
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="campo">
                        <label for="cidade"><i class='fa'></i><b>Cidade</b></label>
                       
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="cep"><i class='fa'></i><b>CEP</b></label                       
                    </div>
                </div>
            </div>
            </fieldset>
            <fieldset><legend>Dados do Atleta</legend>
           <div class="row">
            		<div class="col-md-6 col-xs-6">
                    <div class="form-group campo">                      
                        <div class="checkbox">
                        <label><input type="checkbox" class="" name="bitAtleta" value="1" /> Atleta</label>	 
                       <label>	<input type="checkbox" class=""  name="bitTecnico" value="1"/> Técnico</label>	
                        <label>	<input type="checkbox" class=""  name="bitArbitro" value="1"/> Árbitro</label>	
                        </div>
                        
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="registroConf"><i class='fa'></i><b>Registro na Confederação</b></label>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="dataFiliacao"><i class='fa'></i><b>Data da Filiação</b></label>
                       
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="campo">
                        <label for="dataEmissaoCarteira"><i class='fa'></i><b>Data da Emissão da Carteira</b></label>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                <div class="campo">
                        <label for="associacao"><i class='fa'></i><b>Associação</b></label>
                        
                    </div>
            </div> 
             <div class="col-md-6 col-xs-6">
                <div class="campo">
              <label for="graduacao"><i class='fa'></i><b>Graduação</b></label>               
                       
            </div> 
            </div>
        </div>
        </fieldset>
      

    </div>
</form>
<div class="modal fade" id="modalGraduacao">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Selecione a Graduação</h4>
      </div>
      <div class="modal-body">
      
       <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="list-group">
           <!-- BEGIN BLOCK_BELT -->
          <li class="list-group-item bt_belt" value="{BELT_ID}" btext="{BELT_NAME}" bcolor="{BELT_COLOR}" >
            <img style="background:{BELT_COLOR}; width:25px; height: 10px;" src="img/icones/belt_icon.png"/>
             {BELT_FAIXA} - {BELT_NAME}
          </li>
           <!-- END BLOCK_BELT -->
        </ul>                          
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
