<!-- BEGIN BLOCK_BELT -->
          <li class="list-group-item bt_belt" value="{BELT_ID}" btext="{BELT_NAME}" bcolor="{BELT_COLOR}" >
            <img style="background:{BELT_COLOR}; width:25px; height: 10px;" src="img/icones/belt_icon.png"/>
             {BELT_FAIXA} - {BELT_NAME}
          </li>
           <!-- END BLOCK_BELT -->
           
<script>
	$(".bt_belt").click(function(){
            /*$( ".bt_belt" ).each(function() {
              $( this ).removeClass( "btn-primary" );  
              $( this ).addClass( "btn-default" );
              $( this ).find("img").attr("src",'img/icones/belt_icon.png');
            });            
            $( this ).addClass( "btn-primary" );
            $( this ).removeClass( "btn-default" );
           $( this ).find("img").attr("src",'img/icones/belt_icon_select.png');
            */
           $("#belt_img_selected").css("background",$(this).attr("bcolor"));
           $("#belt_text_selected").html($(this).attr("btext"));
            $("#graduacao").val($(this).attr("value"));
            $("#modalGraduacao").modal('hide');
        });
</script>