<form role="form" method="post" action="admin_anuidade-pagamento" id="frmPesquisa">
    <input type="hidden" name="pagina" id="pagina" value="1" />
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Gerar Guia de Pagamento</h3>
        </div>
        <div class="box-body">
            <div class="list-group">
  <a href="#" class="list-group-item active">
    Inscrições abertas
  </a>
  <!-- BEGIN BLOCK_COMP -->
    <a href="admin_pagamento-inscricao?idComp={ID_COMPETICAO}" class="list-group-item">
      <span class="badge">{DATA}</span>
      <h4>{TITULO}</h4>
      <p>{DESCRICAO}</p>
      </a>
      <!-- END BLOCK_COMP -->
</div> 
            
            
            

        </div>
        
    </div>
</form>

