<form role="form" method="post" action="#" id="frmEdit">
    <input type="hidden" name="acao" id="acao" value="salvar" />
    <input type="hidden" name="idPagamento" id="idPagamento" value="{ID_PAGAMENTO}" />
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Guia de Pagamento</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <label for="tipoPagamento"><i class='fa'> </i><b>Tipo de Pagamento</b></label>
                   <div class="form-control-static">
                    <img src="img/credit/{IMG_TIPO}" class="img-responsive" alt="{DESC_TIPO}" title="{DESC_TIPO}" >
					</div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="tipoCusta"><i class='fa'> </i><b>Tipo de Custas</b></label>
                    
                   <div class="form-control-static"> {TIPO_CUSTA}</div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="responsavel"><i class='fa'> </i><b>Responsavel</b></label>
                    
                     <div class="form-control-static"> {RESPONSAVEL}</div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="datavencimento"><i class='fa'> </i><b>Data de Vencimento</b></label>
                    
                      <div class="form-control-static">{DATA_VENC}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Situação</b></label>
                    <div class="form-control-static">
                    <span class="label label-{COLOR_SITUACAO}">{SITUACAO}</span>
                    </div>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="datapagamento"><i class='fa'> </i><b>Data do Pagamento</b></label>
                      <div class="form-control-static">
                    {DATA_PAGAMENTO}
                    </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Forma</b></label>
                    
                     <div class="form-control-static"> {FORMA}</div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Descrição</b></label>
                    
                     <div class="form-control-static"> {DESCRICAO}</div>
                    </div>
                </div>
            </div>
             <!-- BEGIN BLOCK_PAYPAL -->
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Código da Transação</b></label>
                    <div class="form-control-static">
                    {PAYPAL_TRANSACTION_ID}
                    </div></div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="datapagamento"><i class='fa'> </i><b>Status</b></label>
                    <div class="form-control-static">
                    {PAYPAL_STATUS}
                    </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Descrição Status</b></label>
                   <div class="form-control-static">
                    {PAY_PAL_DESCRICAO}
                   </div></div>
                </div>
            </div>
            <!-- END BLOCK_PAYPAL -->
            <div class="row">
                <div class="col-xs-12 col-md-12">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Custa</th>
                    <th>Valor</th>
                </tr>
                <!-- BEGIN BLOCK_ITEM -->
                <tr>
                    <td>{DESC_ITEM}</td>
                    <td>{CUSTA_ITEM}</td>
                    <TD class="text-right">{VALOR_ITEM}</TD>
                    
                </tr>
                <!-- END BLOCK_ITEM -->
                <tr>
                    <td class="text-right" colspan="2"> Total:</td>
                    <td class="col-md-2"  class="text-right"><h3 class="text-right" id="valorTotal">{VALOR_TOTAL}</h3></td>
                </tr>
            </table>
                </div>
                </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>            
            <!-- BEGIN BLOCK_BAIXA -->
            <a class="btn btn-primary" href="admin_pagamento-baixa?id={ID_HASH}">
                <i class="fa fa-money"> </i>
                Baixa no Pagamento
            </a>
            <!-- END BLOCK_BAIXA -->
            <!-- BEGIN BLOCK_PAGAR -->
            <a class="btn btn-success" href="admin_pagamento-{TIPO_PAG_ARQUIVO}?id={ID_HASH}" target="_blank">
                <i class="fa fa-barcode"> </i>
                Pagar
            </a>
            <!-- END BLOCK_PAGAR -->
            <!-- BEGIN BLOCK_BOLETO -->
            <a class="btn btn-success" href="admin_pagamento-{TIPO_PAG_ARQUIVO}?id={ID_HASH}" target="_blank">
                <i class="fa fa-barcode"> </i>
                Ver Pagamento
            </a>
            <!-- END BLOCK_BOLETO -->
        </div>
    </div>
</form>
