<form role="form" method="post" action="#" id="frmEdit">
    <input type="hidden" name="acao" id="acao" value="guia" />
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Guia de Pagamento</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <label for="tipoPagamento"><i class='fa'> </i><b>Tipo de Pagamento</b></label>
                    <img src="img/credit/{IMG_TIPO}" class="img-responsive" alt="{DESC_TIPO}" title="{DESC_TIPO}" style="width: 5em;">

                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="tipoCusta"><i class='fa'> </i><b>Tipo de Custas</b></label>
                    <br/>
                    {TIPO_CUSTA}
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="responsavel"><i class='fa'> </i><b>Responsavel</b></label>
                    <br/>
                    {RESPONSAVEL}
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="datavencimento"><i class='fa'> </i><b>Data de Vencimento</b></label>
                    <br/>
                    {DATA_VENC}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="situacao"><i class='fa'> </i><b>Situação</b></label>
                    <br/>
                    <span class="label label-{COLOR_SITUACAO}">{SITUACAO}</span>
                    </div>
                </div>
                <div class="col-xs-3 col-md-3">
                    <div class="form-group">
                    <label for="datapagamento"><i class='fa'> </i><b>Data do Pagamento</b></label>
                    <br/>
                    {DATA_PAGAMENTO}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Custa</th>
                    <th>Valor</th>
                </tr>
                <!-- BEGIN BLOCK_ITEM -->
                <tr>
                    <td>{DESC_ITEM}</td>
                    <td>{CUSTA_ITEM}</td>
                    <TD class="text-right">{VALOR_ITEM}</TD>
                    
                </tr>
                <!-- END BLOCK_ITEM -->
                <tr>
                    <td class="text-right" colspan="2"> Total:</td>
                    <td class="col-md-2"  class="text-right"><h3 class="text-right">{VALOR_TOTAL}</h3></td>
                </tr>
            </table>
                </div>
                </div>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>
            <!-- BEGIN BLOCK_PAGAR -->
            <a class="btn btn-success" href="admin_pagamento-{TIPO_PAG_ARQUIVO}?id={ID_HASH}" target="_blank">
                <i class="fa fa-barcode"> </i>
                Pagar
            </a>
            <!-- END BLOCK_PAGAR -->
        </div>
    </div>
</form>