<form role="form" method="post" action="#" id="frmEdit">
    <input type="hidden" name="acao" id="acao" value="salvar" />
    <input type="hidden" name="idPagamento" id="idPagamento" value="{ID_PAGAMENTO}" />
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">PayPal sucesso</h3>
        </div>
        <div class="box-body">
            
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default btVoltar" type="button">
                Voltar
            </button>            
            
        </div>
    </div>
</form>
