<form role="form" method="post" action="#" id="frmPesquisa">
	<input type="hidden" name="pagina" id="pagina" value="1" />
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Pesquisa Pessoas</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="form-group">
						<label for="descricao"><i class='fa'></i><b>Nome</b></label>
						<input type="text" id="nome" name="nome" placeholder="Nome do Pessoa" value="" class="form-control"/>
					</div>
				</div>
			</div>
		
			
		</div>
		<div class="panel-footer text-right">			
			<button class="btn btn-success" type="button" id="btPesquisar">
				Pesquisar
			</button>
			<a class="btn btn-primary" href="admin_pessoa-editar"><i class="fa fa-plus"></i> Adicionar</a>
			<a class="btn btn-warning" href="#" id="btMesclar"><i class="fa fa-share-alt"></i> Mesclar</a>
			<button class="btn btn-default btVoltar" type="button">
				Voltar
			</button>
		</div>

	</div>
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Resultado</h3>
		</div>
		<div class="box-body" id="resultado"></div>
	</div>
</form>
<script>

	function pesquisar(){
			$.ajax({
				url : "ajax/admin_pessoa_pesquisar.php",
				type : "POST",
				data : $("#frmPesquisa").serialize(),

				beforeSend: function( ) {
					$('#resultado').html('{LOADING}');
		  		},
			}).done(function(msg) {
				$("#resultado").html(msg);
			});

		}

    function execmesclar(){
            $.ajax({
                url : "ajax/admin_pessoa_mesclar.php",
                type : "POST",
                data : $("#frmPesquisa").serialize(),

                beforeSend: function( ) {
                    $('#resultado').html('{LOADING}');
                },
            }).done(function(msg) {
                $("#resultado").html(msg);
            });

        }

	$(document).ready(function() {

		$("#btPesquisar").click(function() {
			pesquisar();
		});
		
		$("#btMesclar").click(function(){
		    
		    var mesclar = 0;
		    var mantem = "0";
		    var correto = false;
		    
		    $('input[type="radio"]').each(
                function(){
                   if($(this).prop('checked')){
                     mantem = $(this).val();
                   }
                }
            );
		    
		    
		    $('input[type="checkbox"]').each(
		        function(){
		           if($(this).prop('checked')){
		              mesclar++;
		           
		           if(mantem == $(this).val())
		              correto = true;
		           
		           }
		        }
		    );
		    
		    
            
            if(mesclar < 2){
                alert("Você deve selecionar ao menos duas pessoas!");
                return false;
              }
            if(mantem == "0"){
                alert("Você deve selecionar uma pessoa para manter!");
                return false;
             }
             if(correto){
                 execmesclar();
             }else{
                alert("Você deve selecionar uma pessoa para manter dentre os selecionados!");
                return false;
             }    
		});
	}); 
</script>