<div class="error-page">
                        <h2 class="headline text-info"> 404</h2>
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> Oops! Página não encontrada.</h3>
                            <p>
                                A funcionalidade que você procura não pode ser encontrada.
                                Enquanto isso, talves você queira <a href='index.php'>voltar para a página inicial</a>.
                            </p>

                        </div>
                    </div>