<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <div class="pull-right">
                <img src="img/icones/kata.png" />
            </div>
            <h2>Associação</h2>
        </div>
        <div class="etiqueta">    
        <div class="row">
        <div class="col-lg-12">
            <small class="pull-right">
            <img src="img/associacoes/{LOGOTIPO}" alt="..." align="left" style="width:10em;"/>
            </small>
            <h3>{NOME_ASSOCIACAO}</h3>
         </div>
         </div>   
         <fieldset><legend>Dados</legend>
         <div class="row">
            <div class="col-lg-12"><label>Descrição:</label>
              <p>{DESCRICAO}</p>
            </div>
            </div>         
        <div class="row">
            <div class="col-lg-6"><label>Razão Social:</label>
                <p>{RAZAO_SOCIAL}</p>
            </div>
            <div class="col-lg-6"><label>CNPJ:</label>
            <p>{CNPJ}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><label>Data da Filiação:</label>
               <p>{DATA_FILIACAO}</p> 
            </div>
            <div class="col-lg-6"><label>Sigla:</label>
            <p>{SIGLA}</p>
            </div>
        </div>
        </fieldset>
        <fieldset><legend>Endereço</legend>
            <div class="row">
            <div class="col-lg-6"><label>Logradouro:</label>
              <p>{ENDERECO}</p>
            </div>
             <div class="col-lg-6"><label>Bairro:</label>
              <p>{BAIRRO}</p>
            </div>
            </div>  
            <div class="row">
            <div class="col-lg-6"><label>Cidade:</label>
              <p>{CIDADE}</p>
            </div>
             <div class="col-lg-4"><label>CEP:</label>
              <p>{CEP}</p>
            </div>
             <div class="col-lg-2"><label>Estado:</label>
              <p>{ESTADO}</p>
            </div>
            </div>   
        </fieldset>
        <fieldset><legend>Responsável</legend>
            <div class="row">
            <div class="col-lg-6"><label>Nome:</label>
              <p>{NOME_RESPONSAVEL}</p>
            </div>
             <div class="col-lg-6"><label>Telefone:</label>
              <p>{CELULAR}</p>
            </div>
            </div>          
        </fieldset>
        <fieldset><legend>Contato</legend>
            <div class="row">
            <div class="col-lg-4"><label>Telefone:</label>
              <p>{TELEFONE1}</p>
            </div>
             <div class="col-lg-4"><label>Telefone:</label>
              <p>{TELEFONE2}</p>
            </div>
            <div class="col-lg-4"><label>E-mail:</label>
              <p>{EMAIL}</p>
            </div>
            </div>   
             <div class="row">
                 <div class="col-lg-6"><label>Website:</label>
              <p><a href="{WEB_SITE}" target="_blank">{WEB_SITE}</a></p>
            </div>
            <div class="col-lg-6"><label>Mídia social:</label>
              <p><a href="{URL_MIDIA}" target="_blank"><img src="img/icones/facebook_associacao.png" width="32"></a></p>
            </div>             
           
            </div>          
        </fieldset> 
        <div class="row">
            <div class="col-lg-12">                
                <p class="text-center">
                    <a type="submit" class="btn btn-warning btn-xs" href="portal_associacao">Voltar</a>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
